<ion-view view-title="About">
     <!--ion-nav-buttons side="left">
         <button class="button button-clear" ng-click="backButtonAction()">
            <i class="ion-android-arrow-back icon-btn-customize"></i>
         </button>
    </ion-nav-buttons-->
        <a href back-button>back</a>

        <ion-content>
            <div class="list card item-text-wrap">
                <p><strong>Trac-my-Health</strong> (hereinafter referred to as “Application” or “App”) is owned and operated by Datacom Technologies Private Limited, a company incorporated under the Companies Act, 2013 with its registered office at [Address] Bangalore.
            Datacom Technologies Private Limited (“Datacom”, “Company”) is in the business of providing a mobile notification platform for people to access their visit (medical) information from their Health providers.</p>
 <p>“Practitioner(s)” or “Health Provider” shall mean a medical practitioner or medical expert or health care provider (whether an individual professional or an organization) or similar institution pushing visit/medical data to their customers via Trac-my-Health Cloud & mobile platform, including designated, authorized associates of such practitioners or institution.
</p>
<p>“Service(s)” services provided through the Apps or Website, including but not limited to, you locating Health Providers though the mobile app & Website, listing of your profile and contact details, which shall be shared or made available to the Health Provider. The Services may change from time to time, at the sole discretion of Datacom.
            “Trac-my-Health Care” shall mean the mobile application used by the Practitioners and connected to Trac-my-Health through technology integration.
                </p>
            </div>
        </ion-content>
</ion-view>