<ion-view view-title="doctor-tab" name="doctortab">
        <ion-nav-title>
<span class="circle-span direct-chat-timestamp">
    <i class="icon ion-ios-pulse-strong assertive"></i></span>
         </ion-nav-title>
        <ion-nav-buttons side="right" >
          <button class="button button-clear" ng-click="takeImage()">
               <i class=" ion-camera icon-btn-customize"></i>
          </button>
            <button class="button button-clear" ng-click="showFilterBar()">
             <i class=" ion-search icon-btn-customize"></i>
            </button>
              <button class="button button-clear" ng-click="filterdetails()">
                 <i class="ion-funnel icon-btn-customize"></i>
           </button>
           <button class="button button-clear" on-touch="openPopover($event)">
                <i class="ion-android-more-vertical icon-btn-customize" ></i>
            </button>
    </ion-nav-buttons>
    <ion-content scroll-sista="header" has-bouncing="false" overflow-scroll="true">

           <div class="list card item-text-wrap" ng-repeat=" visitdet in drvisitinfo track by $index" >
               <p><strong style="color:#d14836">{{visitdet.notificationdate|date: "dd MMM yy"}}</strong>
                   {{visitdet.hospitalid.hospitalemailid}} {{visitdet.hospitalid.hospitalname}}
                   <button class="button-clear pull-right"><i class="icon pull-right ion-android-attach dark" ng-click="downloaddocument(visitdet.reporturl)"></i> </button></p>
                <a href="#" ng-click="notification(visitdet.patientregprofiles, visitdet.visitid)">
                         <button class="button button-clear pull-right"><i class="icon ion-arrow-right-b assertive" ></i></button>
                    </a>
               <p><b>Notification :</b>{{visitdet.notificationtext}}</p>


  </div>

           </ion-content>

<ion-content class="padding">
    <div class="list card primary-bg" ng-repeat="note in notinfo track by $index">
         <p><strong style="color:#d14836">{{note.notificationdate|date: "dd MMM yy"}}</strong>
               {{note.patientregprofiles.firstname}} {{note.patientregprofiles.lastname}} {{note.patientregprofiles.emailid}}</p>
        <p>Reg.date : {{note.patientregprofiles.regdate | date: "dd MMM yy hh:mm a"}} </p>
        <p>Reg.type : {{note.patientregprofiles.regtype}}</p>

               <p><b>Notification :</b>{{note.notificationtext}} </p>
         <div class="pull-center">
                <button class="button button-outline button-assertive" ng-if ="note.reporturl" ng-click="downloaddocument(note.reporturl)">View Document</button>
            <button class="button  button-assertive" ng-if ="note.reporturl" ng-click=""><i class="icon ion-android-attach"></i></button>

            </div>
        </div>

</ion-content>
</ion-modal-view>
<script id="filterDoctortabdetails.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-positive">
            <h1 class="title">Filter</h1>
            <button class="button button-clear button-primary" ng-click="closeModalfilter()"><i class="icon ion-android-close"></i></button>
        </ion-header-bar>
        <ion-content>
                <ion-item class="item-input">
                <span class="input-label">Hospital Name</span>
                <label class="item-input">
                    <select ng-model="appliedfilters.hospitalnameselected" ng-options="hsname for hsname in filtersavailable.hospitalnames">
                    </select>
                </label>
            </ion-item>
            <ion-item class="item-input">
          		<label class="item item-input">
          		<ion-checkbox class="item-checkbox-left" ng-model="appliedfilters.docswithattachment">Documents with attachments</ion-checkbox>
          	</label>
          </ion-item>
          <div class="pull-center">
            <button class="button button-outline button-assertive" ng-click="filterapply(sample)">Apply</button>
		      </div>
        </ion-content>
            </ion-modal-view>
          </script>
          <script id="pdf-viewer.html" type="text/ng-template">
            <ion-modal-view>
              <ion-header-bar>
                <h1 class="title">Invoice</h1>
              </ion-header-bar>
              <ion-content>
                <ng-pdf ng-if="pdfUrl" template-url="templates/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
              </ion-content>
            </ion-modal-view>
          </script>

</ion-view>
