<ion-view name="register-sign-in" class='customTitle' view-title="trackmyhealth" hide-nav-bar="true">
    <ion-content class="padding landingOuter">

        <div class="container" style="height: 92%;">
              <ion-slide-box does-continue="true" show-pager="false" auto-play="true" >
                  <ion-slide>
                        <img src="img/subscription.png" class="img-responsive"/>
                  </ion-slide>
                  <ion-slide>
                    <div style="height:100%">
                        <img src="img/subscription.png" class="img-responsive"/>
                      </div>
                  </ion-slide>
                  <ion-slide>
                    <div style="height:100%">
                        <img src="img/subscription.png" class="img-responsive"/>
                      </div>
                  </ion-slide>
            </ion-slide-box>
        </div>

      <div class="container-responsive">
        <a style="display:block;" class="button button-block button-positive customBtnStyle" href="#/signup">
            REGISTER
        </a><span style='display:block;width:1px; float:left; height:20px;'></span>
        <a class="button button-block button-positive customBtnStyle" href="#/login">
            LOGIN
        </a>
     </div>

    </ion-content>
</ion-view>
