<ion-view view-title="Login" name="login-view">
    <ion-content class="padding loginInner-responsive">
        <div class="container-responsive">
            <img src="img/pulse7.jpg" class="image-responsive"/>
        </div>
    <div ng-if="signin.user.$invalid" ng-messages="signin.user.$error">
  		<div class="error" ng-message="required">
  			<i class="ion-information-circled"></i> Email or Mobile Number is required!
  		</div>
      <div class="error" ng-message="validemailmobile">
        <i class="ion-information-circled"></i> Invalid email or mobile number
  	  </div>
    </div>
	  <div ng-if="signin.user.$valid" ng-messages="signin.passcode.$error">
		<div class="error" ng-message="required">
			<i class="ion-information-circled"></i> Password is required!
		</div>
    <div class="error" ng-message="minlength">
			<i class="ion-information-circled"></i> Password must be minimum 6 characters!
		</div>
	  </div>
    <div id="grid">
        <form  name="signin" ng-submit="login(logindata)"  required>
            <div class="list">
                <label class="item item-input">
                  <span class="input-label dark"><i class="ion-person"></i> </span>
                  <input type="text" name="user" ng-model="logindata.email" placeholder="Email or Mobile Number" autocomplete="on" required validemailmobile>
                </label>
                <hr>
                <label class="item item-input ">
                  <span class="input-label dark"><i class="ion-locked"></i>
                  </span>
                  <input type="{{inputType}}"  name="passcode" id="checkbox"  ng-model="logindata.passcode"  ng-minlength="6" ng-maxlength="20" placeholder="Password" autocomplete="off" required>
                  <label for="checkbox" ng-if="!passwordCheckbox"><i class="icon ion-eye dark" ng-click="hideShowPassword()"></i>
                  </label>
                </label>
                <hr>
            </div>
            <div ng-if="signin.user.$valid && signin.passcode.$valid">
              <button class="button button-block button-raised button-positive"  type="submit">LOGIN</button>
            </div>
		    </form>
        <br>
         <div class="pull-left">
            <button class="button button-clear button-flat button-assertive" ng-click="signup()">Sign up</button>
         </div>
         <div class="pull-right">
             <button class="button button-clear button-flat button-assertive" ng-click="openForgotPwdModal()">Forgot password</button>
         </div>
       </div>
    </ion-content>

    <script id="forgotpassword.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-positive">
          <h1 class="title">Forgot password</h1>
          <button class="button button-clear button-primary" ng-click="closeForgotPwdModal()">
            <i class="icon ion-android-close"></i>
          </button>
        </ion-header-bar>
      <ion-content class="padding">
        <div ng-if="forgotpassword.email.$invalid" ng-messages="forgotpassword.email.$error">
        		<div class="error" ng-message="required">
        			<i class="ion-information-circled"></i> Please enter email id
        		</div>
            <div class="error" ng-message="validemailmobile">
              <i class="ion-information-circled"></i> Please check your email id
        	  </div>
        </div>
    	  <div ng-if="forgotpassword.email.$valid" ng-messages="forgotpassword.mobnum.$error">
        		<div class="error" ng-message="required">
        			<i class="ion-information-circled"></i> Please enter mobile number
        		</div>
            <div class="error" ng-message="validemailmobile">
        			<i class="ion-information-circled"></i> Please check your mobile number
        		</div>
    	  </div>
        <div ng-if="forgotpassword.email.$valid && forgotpassword.mobnum.$valid" ng-messages="forgotpassword.password.$error">
        		<div class="error" ng-message="required">
        			<i class="ion-information-circled"></i> Please enter the password
        		</div>
            <div class="error" ng-message="minlength">
        			<i class="ion-information-circled"></i> Password cannot be less than 6 characters
        		</div>
            <div class="error" ng-message="maxlength">
        			<i class="ion-information-circled"></i> Password cannot be more than 20 characters
        		</div>
    	  </div>
        <div ng-if="forgotpassword.email.$valid && forgotpassword.mobnum.$valid
        && forgotpassword.password.$valid" ng-messages="forgotpassword.confirmpwd.$error">
        		<div class="error" ng-message="required">
        			<i class="ion-information-circled"></i> Please re-enter the password
        		</div>
            <div class="error" ng-message="minlength">
        			<i class="ion-information-circled"></i> Password cannot be less than 6 characters
        		</div>
            <div class="error" ng-message="maxlength">
        			<i class="ion-information-circled"></i> Password cannot be more than 20 characters
        		</div>
    	  </div>
        <div ng-if="forgotpassword.email.$valid && forgotpassword.mobnum.$valid
        && forgotpassword.password.$valid && forgotpassword.confirmpwd.$valid">
        		<div class="error" ng-if="forgot.password !== forgot.confirmpwd">
        			<i class="ion-information-circled"></i> Passwords doesn't match
        		</div>
    	  </div>
        <div ng-if="forgotpassword.email.$valid && forgotpassword.mobnum.$valid
        && forgotpassword.password.$valid && forgotpassword.confirmpwd.$valid
        && (forgotpassword.password === forgotpassword.confirmpwd)"
        ng-messages="forgotpassword.smsotppin.$error">
            <div class="error" ng-message="required">
              <i class="ion-information-circled"></i> Please enter SMS OTP Pin
            </div>
        </div>
        <div ng-if="forgotpassword.email.$valid && forgotpassword.mobnum.$valid
        && forgotpassword.password.$valid && forgotpassword.confirmpwd.$valid
        && forgotpassword.smsotppin.$valid
        && (forgotpassword.password === forgotpassword.confirmpwd)"
        ng-messages="forgotpassword.emailotppin.$error">
            <div class="error" ng-message="required">
              <i class="ion-information-circled"></i> Please enter Email OTP Pin
            </div>
        </div>

        <form name="forgotpassword" required>
		        <div class="list">
       				<label class="item-input item-floating-label">
      				    <span class="input-label">Email Id</span>
                    <input name="email" type="email" placeholder="Enter email id" ng-model="forgot.emailId" required validemailmobile>
              </label>
              <label class="item-input item-floating-label">
  					      <span class="input-label">MobileNo</span>
                    <input name="mobnum" name="mobnum" type="number" placeholder="Enter mobile number" ng-model="forgot.mobNo"  ng-minlength="10" ng-maxlength="10" required validemailmobile>
  				    </label>
              <div ng-if="validemailmobile">
      					<label class="item-input item-floating-label">
      						<span class="input-label">Password</span>
      						<input  name="password" type="password" placeholder="Enter new password" ng-model= "forgot.password"  ng-minlength="6" ng-maxlength="20" required>
      					</label>
                <label class="item-input item-floating-label">
      					      <span class="input-label">Confirm password</span>
      					      <input name="confirmpwd" type="password" placeholder="Confirm new password" ng-model="forgot.confirmpwd" ng-minlength="6" ng-maxlength="20" required>
      					</label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">SMS OTP</span>
                    <input name="smsotppin" type="number" placeholder="OTP recieved as SMS" ng-model="forgot.smsotp" required/>
                </label>
      		      <label class="item item-input item-floating-label">
              	<span class="input-label">Email OTP</span>
                  <input name="emailotppin" type="number" placeholder="OTP recieved as email" ng-model="forgot.emailotp" required/>
      		      </label>
      				</div>
      </div>
      <div class="pull-center" ng-if="forgotpassword.email.$valid && forgotpassword.mobnum.$valid && !validemailmobile">
			    <button class="button  button-assertive" ng-click="save(forgot)">OK</button>
			</div>
			<div class="pull-center" ng-if="forgotpassword.email.$valid && forgotpassword.mobnum.$valid
      && forgotpassword.password.$valid && forgotpassword.confirmpwd.$valid
      && forgotpassword.smsotppin.$valid && forgotpassword.emailotppin.$valid
      && (forgot.password === forgot.confirmpwd)">
			    <button class="button button-assertive" ng-click="newpassword(forgot)">Save New Password</button>
			</div>
      </form>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
