<ion-view view-title="Home Page" name="menu-views">
	<ion-content  class="padding loginInner-responsive"><br> 
       <div class="container1-responsive">
         <div class="row" id="rowspace">
       <div class="col" ><a href="#/notified/listedentities" ><b class="heading1">Hospital </b><div class="example">
   <i class="icon fa fa-hospital-o light"></i>
           </div></a></div>  
        <div class="col"> <a href="#/notified/allnotifications/123" ><b class="heading1">Notification </b> <div class="example">
 <i class="icon fa fa-envelope light"></i>
            </div></a></div>
        </div><br>
        <div class="row" id="rowspace">
      <div class="col"><a href="#/notified/myhealth" ><b class="heading1">vitals </b><div class="example">
    <i class="icon fa fa-file-text light"></i>
          </div></a></div> 
    <div class="col" ng-if="showDoctorsTab" ><a href="#/notified/doctortab"  ><b class="heading1">Doctor </b><div class="example">
    <i class="icon fa fa-user-md light"></i>
              </div></a></div>
           </div> </div>
          
                    	</ion-content>
</ion-view>