<ion-view view-title="" style="text-align:center" name="menu-views">
      <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="showConfirm()" href="#/logout">
            <i class="icon ion-log-out " menu-toggle = "left" ></i>
        </button>
    </ion-nav-buttons>
<ion-content  class="padding loginInner-responsive"><br>
    <h5><strong>{{patientprofiledata.firstname}} {{patientprofiledata.lastname}}</strong></h5>
         <img src="img/appicon_whitecircle_2300.png" class="img1-responsive"/>
    <strong class="mycolor"> Health Matters</strong>

           <div class="example1" responsive>
    
    
    <div class="row">
      <div class="col"><a href="#/family" ><div class="example">
    <i class="icon fa fa-users light"></i>
          </div></a>
        </div>
        <div class="col">
     <div class="example" ng-click="selectImageSource()">
  <i class="icon ion-android-camera light"></i>
         </div></div>
    </div>    
           <div class="row">
               <div class="col">
       <a href="#/notified/listedentities" >
           <div class="example">
   <i class="icon fa fa-hospital-o light"></i>
           </div></a></div>
               <div class="col col-offset-30">
            <a href="#/notified/allnotifications/123" ><div class="example">
 <i class="icon fa fa-envelope light"></i>
                </div></a></div>
           </div>

    <div class="row">
      <div class="col"><a href="#/notified/myhealth" ><div class="example">
    <i class="icon fa fa-file-text light"></i>
          </div></a>
        </div>
        <div class="col">
     <a href="#/notified/screening" ><div class="example">
  <i class="icon fa fa-file-o light"></i>
         </div></a></div>
    </div>
    <div class="row">
       <div class="col ">
        <a href="#/notified/healthtips"><div class="example">
            <i class="fa fa-lightbulb-o"></i></div></a>
       </div>
       <div class="col"  ng-if="showDoctorsTab"  ><a href="#/notified/doctortab"  >
           <div class="example">
        <i class="icon fa fa-user-md light"></i>
            </div></a>
            </div>
  </div>
        </div>
   
	</ion-content>
     <div class="bar bar-footer bar-assertive">
       &nbsp;&nbsp;&nbsp;  <a> <button class="button-large button-assertive button-clear"   ng-click="showPopup()">Rate the app</button></a>
         <div class="space">
         <a href="#/about"><button class="button-large button-assertive button-clear" >About</button></a>
         </div>
</div>
</ion-view>
