<ion-view view-title="trackmyhealth" name="my-health-view">

<ion-nav-title align-title="left">
  <span class="circle-span direct-chat-timestamp">
    <img src="img/icon.png" class="img-responsive"/>
   </span>
</ion-nav-title>
<ion-nav-buttons side="right" >
  <button class="button button-clear" ng-click="filterdetails()">
     <i class="ion-funnel icon-btn-customize"></i>
  </button>
<button class="button button-clear" ng-click="selectImageSource()">
      <i class=" ion-camera icon-btn-customize"></i>
 </button>
  <button class="button button-clear" ng-click="showFilterBar()">
    <i class=" ion-search icon-btn-customize"></i>
  </button>
  <button class="button button-clear" on-touch="openPopover($event)">
       <i class="ion-android-more-vertical icon-btn-customize" ></i>
  </button>
</ion-nav-buttons>
<ion-floating-menu menu-color="#d14836" menu-open-color="#d14836" iconColor="#fff">
	  <ion-floating-item icon="ion-clipboard" ng-click="openModal1()" on-tap="tracker('Allergies', 'Allergy Details')" button-color= "#d14836" iconColor="#fff" text="Allergies">Allergies</ion-floating-item>
    <ion-floating-item icon="ion-medkit" ng-click="openModal1()" on-tap="tracker('Medication', 'Medication Details')" button-color= "#d14836" iconColor="#fff" text="Medication"></ion-floating-item>
    <ion-floating-item icon="ion-ios-briefcase-outline" ng-click="openModal1()" on-tap="tracker('Vaccination', 'Vaccination Details')" button-color= "#d14836" iconColor="#fff" text="Vaccination"></ion-floating-item>
    <ion-floating-item icon="ion-ios-speedometer" ng-click="openModal1()" on-tap="tracker('Weight', 'Weight')" button-color= "#d14836" iconColor="#fff" text="Weight" ></ion-floating-item>
    <ion-floating-item icon="ion-waterdrop" ng-click="openModal1()" on-tap="tracker('Blood Pressure', 'Blood Pressure')" button-color= "#d14836" iconColor="#fff" text="Blood Pressure" ></ion-floating-item>
    <ion-floating-item icon="ion-stats-bars" ng-click="openModal1()" on-tap="tracker('Blood Sugar', 'Blood Sugar')" button-color= "#d14836" iconColor="#fff" text="Blood Sugar" ></ion-floating-item>
</ion-floating-menu>
<ion-content scroll-sista="header" has-bouncing="false" overflow-scroll="true">
  <div class="card">
		<div class="item item-body">
        <div class="row">
		        <div class="col"><h4>BS(FBS)</h4></div>
            <div class="col"><h4>BS(PPBS)</h4></div>
            <div class="col"><h4>BS(RBS)</h4></div>
        </div>
        <div class="row">
            <div class="col" ng-if="summary.bloodsugar.fbs !==''"><h2><b>{{summary.bloodsugar.fbs}}</b></h2></div>
            <div class="col" ng-if="summary.bloodsugar.ppbs !==''"><h2><b>{{summary.bloodsugar.ppbs}}</b></h2></div>
            <div class="col" ng-if="summary.bloodsugar.rbs !==''"><h2><b>{{summary.bloodsugar.rbs}}</b></h2></div>
        </div>
       <div class="row">
		        <div class = "col col-67"><h4>BP(SYSTOLIC)/(DIASTOLIC)</h4></div>
            <div class="col col-67 col-offset-10"><h4>WEIGHT</h4></div>
        </div>

        <div class="row">
         <div class = "col col-67" ng-if="summary.bloodpressure.systolic !==''">
                <h2><b>{{summary.bloodpressure.systolic}} / {{summary.bloodpressure.diastolic}}</b></h2>
        </div>
         <div class="col col-67 col-offset-20" ng-if="summary.weight.value !==''"><h2><b>{{summary.weight.value}}</b></h2></div>
        </div>
        <div class="row">
            <div class="col"><h4>VACCINATION</h4></div>
        </div>
        <div class="row" ng-if="summary.vaccination.value !== ''">
            <div class="col"><h2><b>{{summary.vaccination.value}}</b></h2></div>
        </div>
        <div class="row">
            <div class="col"><h4>MEDICATION</h4></div>
        </div>
        <div class="row" ng-if="summary.medication.value !== ''">
            <div class="col"><h2><b>{{summary.medication.value}}</b></h2></div>
        </div>
        <div class="row">
            <div class="col"><h4>ALLERGIES</h4></div>
        </div>
        <div class="row" ng-if="summary.allergies.value !== ''">
            <div class="col"><h2><b>{{summary.allergies.value}}</b></h2></div>
        </div>

		</div>
	</div>
<div class="h-list">
        <div class="item-card active">
            <div class="padding">
                </div>
                  <div class="visits-block text-muted">

                <div class="visits" >
                    <div class="timeline">
                      <div class="row"  ng-repeat="details in healthdetails track by $index">
                        <div class="left">
                           <div class="circle">
                               <div class="day">{{details.createdat.day}}</div>
                               <div class="month"><small>{{details.medicalprofile[0].recorddate|date:"MMM"}}</small></div>
                           </div>
                        </div>
                        <div class="right" >
                                <div class="notification">
                                    <div class="message">
                                      <div ng-repeat="medicalprofiledata in details.medicalprofile">
                                         <p ng-show="appliedfilters.weightFilter != false && medicalprofiledata.profile[0].weight.value !== null && medicalprofiledata.profile[0].weight.value !== ''"><strong>Weight : {{medicalprofiledata.profile[0].weight.value}} KG </strong></p>
                                         <p ng-show="appliedfilters.bloodsugarFilter != false && medicalprofiledata.profile[0].bloodsugar.rbs !== null && medicalprofiledata.profile[0].bloodsugar.rbs !== ''"><strong>Random Blood Sugar(rbs) : {{medicalprofiledata.profile[0].bloodsugar.rbs}} MG/DL</strong></p>
                                         <p ng-show="appliedfilters.bloodsugarFilter != false && medicalprofiledata.profile[0].bloodsugar.ppbs !== null && medicalprofiledata.profile[0].bloodsugar.ppbs !== ''"><strong>Post Pandrial Blood Sugar(ppbs) : {{medicalprofiledata.profile[0].bloodsugar.ppbs}} MG/DL</strong></p>
                                         <p ng-show="appliedfilters.bloodsugarFilter != false && medicalprofiledata.profile[0].bloodsugar.fbs !== null && medicalprofiledata.profile[0].bloodsugar.fbs !== ''"><strong>Fasting Blood Sugar(fbs) : {{medicalprofiledata.profile[0].bloodsugar.fbs}} MG/DL</strong></p>
                                         <p ng-show="appliedfilters.bloodpressureFilter != false && medicalprofiledata.profile[0].bloodpressure.systolic !== null && medicalprofiledata.profile[0].bloodpressure.systolic !== ''"><strong>Blood Pressure : {{medicalprofiledata.profile[0].bloodpressure.systolic}} / {{ medicalprofiledata.profile[0].bloodpressure.diastolic }} MM HG</strong></p>
                                         <p ng-show="appliedfilters.allergiesFilter != false && medicalprofiledata.profile[0].allergies.value !== null && medicalprofiledata.profile[0].allergies.value !== ''"><strong>Allergies : {{medicalprofiledata.profile[0].allergies.value}}</strong></p>
                                         <p ng-show="appliedfilters.medicationFilter != false && medicalprofiledata.profile[0].medication.value !== null && medicalprofiledata.profile[0].medication.value !== ''"><strong>Medication : {{medicalprofiledata.profile[0].medication.value}}</strong> </p>
                                         <p ng-show="appliedfilters.vaccinationFilter != false && medicalprofiledata.profile[0].vaccination.value !== null && medicalprofiledata.profile[0].vaccination.value !== ''"><strong>Vaccination : {{medicalprofiledata.profile[0].vaccination.value}}</strong> </p>
                                    </div>
				                      </div>
                        </div>
                    </div>
                </div>
             </div>
          </div>
      </div>
   </div>

    </ion-content>



<script id="medicalprofile.html" type="text/ng-template">
<ion-modal-view>

    <ion-header-bar class="bar-positive">
        <button class="button button-clear button-default" ng-click="closeModal1()"><i class="icon ion-android-close"></i></button>
        <h1 class="title">{{title}}</h1>
        <button class="button button-clear" ng-click="create(data)"><i class="icon ion-android-done"></i></button>
    </ion-header-bar>
  <ion-content class="padding">
      <form name="timeLineForm" >
			<div class="list" ng-if="trackername === 'Weight'">
           		<div class="item item-divider">
			 		          <div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm a"}}</div>
				      </div>
				<label class="item item-input item-floating-label">
            	<span class="input-label">Weight</span>
            	<input type="number" placeholder="Weight Ex : 63. KG" name="weight"  ng-model="data.weight.value">
				</label>
		 		<label class="item item-input item-floating-label">
			  	<span class="input-label">Notes</span>
    			<textarea placeholder="Notes" ng-model="data.weight.notes"></textarea>
				</label>
			</div>

      <div class="list" ng-if="trackername === 'Blood Sugar'" >
				<div class="item item-divider">
				 	<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm a"}}</div>
				</div>

				<div class="item-input">
  				<label class="item item-input item-floating-label">
  					<span class="input-label">Random</span>
  					<input type="number" placeholder="RBS value in MG/DL" ng-model="data.bloodsugar.rbs">
  				</label>
        </div>
        <div class="item-input">
  				<label class="item item-input item-floating-label">
  					<span class="input-label">Fasting</span>
  					<input type="number" placeholder="FBS value in MG/DL" ng-model="data.bloodsugar.fbs">
  				</label>
        </div>
          <div class="item-input">
  				<label class="item item-input item-floating-label">
  					<span class="input-label">Post Prandial</span>
  					<input type="number" placeholder="PPBS value MG/DL" ng-model="data.bloodsugar.ppbs">
  				</label>
				</div>
        <div class="item-input">
  				<label class="item item-input item-floating-label">
  				<span class="input-label">Notes</span>
  					<textarea  placeholder="Notes" ng-model="data.bloodsugar.notes"></textarea>
  				</label>
        </div>
			</div>

			<div class="list" ng-if="trackername === 'Blood Pressure'">
			 	<div class="item item-divider">
			 		<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm a"}}</div>
				</div>
        <div class="item-input">
  				<label class="item item-input item-floating-label">
  					<span class="input-label">Systolic</span>
  					<input type="number" placeholder="Systolic Blood Pressure" ng-model="data.bloodpressure.systolic">
  				</label>
        </div>
        <div class="item-input">
  				<label class="item item-input item-floating-label">
  					<span class="input-label">Diastolic</span>
  					<input type="number" placeholder="Diastolic Blood Pressure" ng-model="data.bloodpressure.diastolic">
  				</label>
        </div>
				<div class="item-input">
				  <label class="item item-input item-floating-label">
			  	      <span class="input-label">Notes</span>
    			      <textarea placeholder="Notes" ng-model="data.bloodpressure.notes"></textarea>
  		  	</label>
          </div>
          </div>

       <div class="list" ng-if="trackername === 'Medication'" >
				<div class="item item-divider">
					<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm a"}}</div>
				</div>
        <div class="item-input">
				      <label class="item item-input item-floating-label">
            	<span class="input-label">Medication</span>
            	<input type="text" placeholder="Medication details" name="medication" ng-model="data.medication.value">
          		</label>
        </div>
        <div class="item-input">
  			 	<label class="item item-input item-floating-label">
  			  	<span class="input-label">Notes</span>
      			<textarea placeholder="Notes" ng-model="data.medication.notes"></textarea>
    		  </label>
        </div>
			</div>

            <div class="list" ng-if="trackername === 'Allergies'">
           		<div class="item item-divider">
					<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm a"}}</div>
				</div>
				<label class="item item-input item-floating-label">
            	<span class="input-label">Allergies</span>
            	<input type="text" placeholder="Ex : Peanuts, dust mites" name="allergies" ng-model="data.allergies.value">
				</label>
				<label class="item item-input item-floating-label">
				<span class="input-label">Notes</span>
				<textarea placeholder="Notes" ng-model="data.allergies.notes"></textarea>
  		  		</label>
        	</div>

            <div class="list" ng-if="trackername === 'notes'">
				<div class="item item-divider">
					<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm a"}}</div>
				</div>
				<label class="item item-input item-floating-label">
				<span class="input-label">Notes</span>
					<textarea  placeholder="Notes"></textarea>
				</label>
			</div>
    <div class="list" ng-if="trackername === 'Vaccination'">
        <div class="item item-divider">
				      <div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm a"}}</div>
				</div>
				<label class="item item-input item-floating-label">
            	<span class="input-label">Vaccination</span>
            	<input type="text" placeholder="Ex : DNA Vaccine, Subunit vaccines" name="vaccination" ng-model="data.vaccination.value">
				</label>
				<label class="item item-input item-floating-label">
				<span class="input-label">Notes</span>
				<textarea placeholder="Notes" ng-model="data.vaccination.notes"></textarea>
  		  		</label>
        	</div>
		</form>
	</ion-content>
	</ion-modal-view>
</script>
<script id="filterhealthtabdetails.html" type="text/ng-template">

   <ion-modal-view>
       <ion-header-bar class="bar bar-positive">
           <h1 class="title">Filter Health details</h1>
       </ion-header-bar>
       <ion-content>
         <div class="list">
           <ion-checkbox ng-repeat="item in healthFilterList"
                         ng-model="item.checked"
                         ng-checked="item.checked"
                         ng-change="filterChange(item,$index)">
             {{ item.text }}
           </ion-checkbox>

         </div>
           <div class="pull-right">
               <button class="button-small button-assertive" ng-click="filterResetAll()">Reset All fields</button>
           </div>
           <br>
           <br>
           <div class="pull-center">
             <button class="button button-assertive" ng-click="filterapply()">Apply</button>
           </div>
       </ion-content>
     </ion-modal-view>
   </script>
</ion-view>
