<ion-view view-title="trackmyhealth" name="my-health-view">
    <ion-nav-title align-title="left">
        <span class="circle-span direct-chat-timestamp">
        <img src="img/appicon_whitecircle_2300.png" class="img-responsive"/>
   </span>
</ion-nav-title>
        <ion-nav-buttons side="right" >
            <button class="button button-clear" ng-click="filterdetails()">
            <div ng-switch on="appliedfilters.isFilterApplied">
                  <div ng-switch-when="true">
                       <i class="ion-funnel icon-btn-customize blink"></i>
                   </div>
                   <div ng-switch-default>
                       <i class="ion-funnel icon-btn-customize"></i>
                   </div>
            </div>
            </button>
<button class="button button-clear" ng-click="selectImageSource()">
      <i class=" ion-camera icon-btn-customize"></i>
 </button>
  <button class="button button-clear" ng-click="showFilterBar()">
    <i class=" ion-search icon-btn-customize"></i>
  </button>
  <button class="button button-clear" on-touch="openPopover($event)">
       <i class="ion-android-more-vertical icon-btn-customize" ></i>
  </button>
        </ion-nav-buttons>
        <ion-content scroll-sista="header" has-bouncing="false" overflow-scroll="true">
        <div class="card responsive">
		<div class="item item-body">


            <div class="row"><h3><b>Blood Sugar</b><button class="button button-small button-clear" ng-click="openModal1('Blood Sugar', 'Blood Sugar')" on-tap="tracker('Blood Sugar', 'Blood Sugar')"> <i class="icon ion-edit assertive"  text="Blood Sugar" ></i></button></h3>
            </div>
                <div class="row">
                <div class="col col-33"><h3><b>RBS</b></h3>
                <div class="row" ng-if="summary.bloodsugar.rbs !=='' && summary.bloodsugar.rbs !== 0 " >{{summary.bloodsugar.rbs}} MG/DL </div>
                </div>

                <div class="col col-33 "><h3><b>FBS</b></h3>
                    <div class="row" ng-if="summary.bloodsugar.fbs !=='' && summary.bloodsugar.fbs != 0 ">{{summary.bloodsugar.fbs}} MG/DL</div>
                  </div>

                <div class="col col-33"><h3><b>PPBS</b></h3>
                 <div class="row" ng-if="summary.bloodsugar.ppbs !=='' && summary.bloodsugar.ppbs != 0">{{summary.bloodsugar.ppbs}} MG/DL</div>
                </div>
                </div>

                <div class="row">
                    
                    <div class="col"><h3><b>Weight</b><button class="button button-small button-clear"  ng-click="openModal1('Weight', 'Weight')" on-tap="tracker('Weight', 'Weight')"><i class="icon ion-edit assertive" text="Weight" ></i></button></h3>
                        <div class="row" ng-if="summary.weight.value !=='' && summary.weight.value !== 0 ">	{{summary.weight.value}} KG
                        </div>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="row responsive">
                    <div class="col"><h3><b>Blood Pressure</b><button class="button button-small button-clear"  ng-click="openModal1('Blood Pressure', 'Blood Pressure')" on-tap="tracker('Blood Pressure', 'Blood Pressure')"><i class="icon ion-edit assertive"   text="Blood Pressure" ></i></button></h3>
                 <div class="row" ng-if="summary.bloodpressure.systolic !=='' && summary.bloodpressure.systolic !== 0">	{{summary.bloodpressure.systolic}}/{{summary.bloodpressure.diastolic}} MM HG</div>
                        </div></div>
                </div>
            <div class="col">
                <div class="col"><h3><b>Vaccination</b><button class="button button-small button-clear" ng-click="openModal1('Vaccination', 'Vaccination Details')"  on-tap="tracker('Vaccination', 'Vaccination Details')" ><i class="icon ion-edit assertive"  text="Vaccination" ></i></button></h3>
                </div>
              <div class="row" ng-if="summary.vaccination.value !== ''">{{summary.vaccination.value}}</div>
            </div>

            <div class="col">
                  <div class="col"><h3><b>Allergies</b><button class="button button-small button-clear"  ng-click="openModal1('Allergies', 'Allergy Details')" on-tap="tracker('Allergies', 'Allergy Details')"><i class="icon ion-edit assertive" text="Allergies" ></i></button></h3>
                  </div>
                <div class="row" ng-if="summary.allergies.value !== ''">{{summary.allergies.value}}</div>
            </div>

            <div class="col">
                <div class="col"><h3><b>Medication</b><button class="button button-small button-clear" ng-click="openModal1('Medication', 'Medication Details')"on-tap="tracker('Medication', 'Medication Details')"><i class="icon ion-edit assertive"  text="Medication" ></i></button></h3>
                </div>
                <div class="row" ng-if="summary.medication.value !== ''">
              {{summary.medication.value}}
                </div>
            </div>
           
		</div>
	</div>
  <div class="h-list">
          <div class="item-card">
              <div class="visits-block text-muted">
                  <div class="timeline">
                        <div class="row"  ng-repeat="details in healthdetails track by $index ">

                          <div class="right" ng-show="((details.vitalslistforday.allergies && details.vitalslistforday.allergies !== null &&details.vitalslistforday.allergies !== '' && appliedfilters.allergiesFilter != false)
                          || (details.vitalslistforday.weight && details.vitalslistforday.weight !== '' && appliedfilters.weightFilter != false)
                          || (details.vitalslistforday.bloodpressure && details.vitalslistforday.bloodpressure !== '' && appliedfilters.bloodpressureFilter != false)
                          || (details.vitalslistforday.medication && details.vitalslistforday.medication !== '' && details.vitalslistforday.medication !== null && appliedfilters.medicationFilter != false)
                          || (details.vitalslistforday.vaccination && details.vitalslistforday.vaccination !== '' && details.vitalslistforday.vaccination !== null && appliedfilters.vaccinationFilter != false)
                          || (details.vitalslistforday.fbs && details.vitalslistforday.fbs !== '' && appliedfilters.bloodsugarFilter != false)
                          || (details.vitalslistforday.rbs && details.vitalslistforday.rbs !== '' && appliedfilters.bloodsugarFilter != false)
                          || (details.vitalslistforday.ppbs && details.vitalslistforday.ppbs !== '' && appliedfilters.bloodsugarFilter != false)
                          )">
                          <button class="button button-small button-assertive" ng-show="((details.vitalslistforday.allergies && details.vitalslistforday.allergies !== '' && appliedfilters.allergiesFilter != false)
                          || (details.vitalslistforday.weight && details.vitalslistforday.weight !== '' && appliedfilters.weightFilter != false)
                          || (details.vitalslistforday.bloodpressure && details.vitalslistforday.bloodpressure !== '' && appliedfilters.bloodpressureFilter != false)
                          || (details.vitalslistforday.medication && details.vitalslistforday.medication !== '' && details.vitalslistforday.medication !== null && appliedfilters.medicationFilter != false)
                          || (details.vitalslistforday.vaccination && details.vitalslistforday.vaccination !== '' && details.vitalslistforday.vaccination !== null && appliedfilters.vaccinationFilter != false)
                          || (details.vitalslistforday.fbs && details.vitalslistforday.fbs !== '' && appliedfilters.bloodsugarFilter != false)
                          || (details.vitalslistforday.rbs && details.vitalslistforday.rbs !== '' && appliedfilters.bloodsugarFilter != false)
                          || (details.vitalslistforday.ppbs && details.vitalslistforday.ppbs !== '' && appliedfilters.bloodsugarFilter != false)
                          )">
           
                                          <div class="month">  {{details.createdat.day}} {{details.medicalprofile[0].recorddate|date:"MMM yyyy h:mm:ss a "}} </div>
                                             
                                   </button>
                                  <div class="notification responsive">

                                      <div class="message responsive-sm">
                                        <div ng-repeat="medicalprofiledata in details.medicalprofile track by $index">
                                           <p  class="item-text-wrap" ng-show="appliedfilters.weightFilter != false && appliedfilters.weightFilter && appliedfilters.weightFilter !== null && appliedfilters.weightFilter !== '' && medicalprofiledata.profile[0].weight.value && medicalprofiledata.profile[0].weight.value !== null && medicalprofiledata.profile[0].weight.value !== ''">Weight : <strong>{{medicalprofiledata.profile[0].weight.value}} KG </strong></p>
                                           <p class="item-text-wrap" ng-show="appliedfilters.bloodsugarFilter != false  && medicalprofiledata.profile[0].bloodsugar.rbs && medicalprofiledata.profile[0].bloodsugar.rbs !== null && medicalprofiledata.profile[0].bloodsugar.rbs !== ''">RBS :<strong> {{medicalprofiledata.profile[0].bloodsugar.rbs}} MG/DL</strong></p>
                                           <p class="item-text-wrap" ng-show="appliedfilters.bloodsugarFilter != false && medicalprofiledata.profile[0].bloodsugar.ppbs && medicalprofiledata.profile[0].bloodsugar.ppbs !== null && medicalprofiledata.profile[0].bloodsugar.ppbs !== ''">PPBS :<strong> {{medicalprofiledata.profile[0].bloodsugar.ppbs}} MG/DL</strong></p>
                                           <p class="item-text-wrap" ng-show="appliedfilters.bloodsugarFilter != false  && medicalprofiledata.profile[0].bloodsugar.fbs && medicalprofiledata.profile[0].bloodsugar.fbs !== null && medicalprofiledata.profile[0].bloodsugar.fbs !== ''">FBS :<strong> {{medicalprofiledata.profile[0].bloodsugar.fbs}} MG/DL</strong></p>
                                           <p ng-show="appliedfilters.bloodpressureFilter != false  && medicalprofiledata.profile[0].bloodpressure.systolic && medicalprofiledata.profile[0].bloodpressure.systolic !== null && medicalprofiledata.profile[0].bloodpressure.systolic !== '' && medicalprofiledata.profile[0].bloodpressure.diastolic && medicalprofiledata.profile[0].bloodpressure.diastolic !== null && medicalprofiledata.profile[0].bloodpressure.diastolic !== ''">Blood Pressure : <strong>{{medicalprofiledata.profile[0].bloodpressure.systolic}} / {{ medicalprofiledata.profile[0].bloodpressure.diastolic }} MM HG</strong></p>
                                           <p class="item-text-wrap" ng-show="appliedfilters.allergiesFilter != false && medicalprofiledata.profile[0].allergies && medicalprofiledata.profile[0].allergies.value !== null && medicalprofiledata.profile[0].allergies.value !== ''">Allergies : <strong>{{medicalprofiledata.profile[0].allergies.value}}</strong></p>
                                           <p class="item-text-wrap" ng-show="appliedfilters.medicationFilter != false && medicalprofiledata.profile[0].medication && medicalprofiledata.profile[0].medication.value !== null && medicalprofiledata.profile[0].medication.value !== ''">Medication : <strong >{{medicalprofiledata.profile[0].medication.value}}</strong> </p>
                                           <p class="item-text-wrap" ng-show="appliedfilters.vaccinationFilter != false  && medicalprofiledata.profile[0].vaccination && medicalprofiledata.profile[0].vaccination.value !== null && medicalprofiledata.profile[0].vaccination.value !== ''">Vaccination :<strong> {{medicalprofiledata.profile[0].vaccination.value}}</strong> </p>
                                      </div>
  				                      </div>
                          </div>
                      </div>
                  </div>
               </div>
        </div>
       </div>
      </div>

      </ion-content>

    <script id="medicalprofile.html" type="text/ng-template">
      <ion-modal-view>
          <ion-header-bar class="bar-positive">
              
              <h1 class="title">{{title}}</h1>
             
              <button class="button button-clear button-default" ng-click="closeModal1()"><i class="icon ion-android-close"></i>
              </button>
          </ion-header-bar>
        <ion-content class="padding">
            <div id="timeLineForms">
            <form name="timeLineForm" >

      			<div class="list" ng-if="trackername === 'Weight'">
                 		<div class="item item-divider">
      			 		          <div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm:ss a"}}</div>
      				      </div>
      			 <div class="row">
               <div class="col"><ul class="my-nav"><li><h5><b>Weight</b></h5></li></ul>
              <input type="number" limit-to="5" placeholder="Ex: 50 KG" name="weight"  ng-model="data.weight.value">
       </div>
          </div>
                      <br>
                <div>
      <rzslider rz-slider-model="data.weight.value"
                rz-slider-options="data.weight.options"></rzslider>
                </div>
      			</div>

            <div class="list" ng-if="trackername === 'Blood Sugar'" >
      				<div class="item item-divider">
      				 	<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm:ss a"}}</div>
      				</div>

        <div class="col">
            <h5><b>RBS (Random Blood Sugar)</b></h5>
         <div class="row" ><input type="number" limit-to="3" placeholder=" MG/DL" ng-model="data.bloodsugar.rbs" ng-maxlength="3" required></div>
       
                </div>
               <rzslider rz-slider-model="data.bloodsugar.rbs"
                rz-slider-options="data.bloodsugar.options"></rzslider>

       <div class="col">
         <h5><b>FBS (Fasting blood sugar)</b></h5>
                  <div class="row" ><input type="number" limit-to="3" placeholder=" MG/DL" ng-model="data.bloodsugar.fbs" ng-maxlength="3" required></div>
                </div>
                 <rzslider rz-slider-model="data.bloodsugar.fbs"
                rz-slider-options="data.bloodsugar.options"></rzslider>

       <div class="col">
        <h5><b>PPBS (Post-pandrial Blood Sugar)</b></h5>
               <div class="row" ><input type="number" limit-to="3" placeholder=" MG/DL" ng-model="data.bloodsugar.ppbs" ng-maxlength="3" required></div>
        </div>
                <div>
      <rzslider rz-slider-model="data.bloodsugar.ppbs"
                rz-slider-options="data.bloodsugar.options"></rzslider>
                </div>

      			</div>

      			<div class="list" ng-if="trackername === 'Blood Pressure'">
      			 	<div class="item item-divider">
      			 		<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm:ss a"}}</div>
      				</div>

    <h4><b>&nbsp;&nbsp;Blood Pressure</b></h4>

             <div class="item-input">
              <label class="item item-input item-floating-label">
                <span class="input-label">Systolic</span>
              <input type="text" placeholder="systolic " name="BP" ng-model="data.bloodpressure.systolic"  required>
            </label>

              <label class="item item-input item-floating-label">
                <span class="input-label">Diastolic</span>
               <input type="text" placeholder="diastolic " name="BP" ng-model="data.bloodpressure.diastolic"  required>
             </label>
           </div>

                      <br>
         <rzslider rz-slider-model="data.bloodpressure.diastolic"
                rz-slider-high="data.bloodpressure.systolic"
                rz-slider-options="data.bloodpressure.options"></rzslider>

                </div>

             <div class="list" ng-if="trackername === 'Medication'" >
      				<div class="item item-divider">
      					<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm:ss a"}}</div>
      				</div>
              <div class="item-input">
      				      <label class="item item-input item-floating-label">
                  	<span class="input-label">Medication</span>
                  	<input type="text" placeholder="Medication details" name="medication" ng-model="data.medication.value">
                		</label>
              </div>
              <div class="item-input">
        			 	<label class="item item-input item-floating-label">
        			  	<span class="input-label">Notes</span>
            			<textarea placeholder="Notes" ng-model="data.medication.notes"></textarea>
          		  </label>
              </div>
      			</div>

                  <div class="list" ng-if="trackername === 'Allergies'">
                 		<div class="item item-divider">
      					<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm:ss a"}}</div>
      				</div>
      				<label class="item item-input item-floating-label">
                  	<span class="input-label">Allergies</span>
                  	<input type="text" placeholder="Ex : Peanuts, dust mites" name="allergies" ng-model="data.allergies.value">
      				</label>
      				<label class="item item-input item-floating-label">
      				<span class="input-label">Notes</span>
      				<textarea placeholder="Notes" ng-model="data.allergies.notes"></textarea>
        		  		</label>
              	</div>

                  <div class="list" ng-if="trackername === 'notes'">
      				<div class="item item-divider">
      					<div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm:ss a"}}</div>
      				</div>
      				<label class="item item-input item-floating-label">
      				<span class="input-label">Notes</span>
      					<textarea  placeholder="Notes"></textarea>
      				</label>
      			</div>
          <div class="list" ng-if="trackername === 'Vaccination'">
              <div class="item item-divider">
      				      <div class="pull-left" >{{tdate | date: "dd MMM yy hh:mm:ss a"}}</div>
      				</div>
      				<label class="item item-input item-floating-label">
                  	<span class="input-label">Vaccination</span>
                  	<input type="text" placeholder="Ex : DNA Vaccine, Subunit vaccines" name="vaccination" ng-model="data.vaccination.value">
      				</label>
      				<label class="item item-input item-floating-label">
      				<span class="input-label">Notes</span>
      				<textarea placeholder="Notes" ng-model="data.vaccination.notes"></textarea>
        		  		</label>
              	</div>
      		</form>
            </div>
            <br>
            <div class="pull-center">
            <button class="button button-assertive" ng-click="create(data)">Apply</button>
            </div>
      	</ion-content>
           
      </ion-modal-view>
      </script>

  <script id="filterhealthtabdetails.html" type="text/ng-template">

    <ion-modal-view>
       <ion-header-bar class="bar bar-positive">
           <h1 class="title">Filter Health details</h1>
           <button class="button button-clear button-primary" ng-click="filterCancel()">
              <i class="icon ion-android-close">
              </i>
           </button>
       </ion-header-bar>
       <ion-content>

         <div class="list" >
           <ion-checkbox style="font-size: 16px"
                         ng-repeat="item in healthFilterList"
                         ng-model="item.checked"
                         ng-checked="item.checked">
             {{ item.text }}
           </ion-checkbox>

         </div>
            <div class="pull-left">
              <button class="button-mini button-assertive" style="position:relative;left:21px"  ng-click="filterResetAll()">Reset All</button>
            </div>
            <div class="pull-right">
               <button class="button-mini button-assertive" style="position:relative;right:21px" ng-click="filterSetAll()">Set All</button>
           </div>
           <br>
           <br>
           <br>
           <div class="pull-center">
             <button class="button button-assertive" ng-click="filterapply()">Apply</button>
           </div>
       </ion-content>
     </ion-modal-view>
   </script>
</ion-view>