<ion-view view-title="Sign Up" >
     <ion-content class="padding" scroll="false">
<form name="signup" class="simple-form" ng-submit="save(formData)" required>
    <div class="list">    
	<ion-item class="item-input">
		<label class="item item-input item-floating-label">
        <span class="input-label">  First Name</span>
			<input type="text" ng-model="formData.firstname" placeholder= "First Name"  required>
		</label>
		<label class="item item-input item-floating-label">
        <span class="input-label">  LastName</span>
			<input type="text" ng-model="formData.lastname" placeholder="  Last Name"  required> 
		</label>
    </ion-item>
    
	<ion-item class="item-input" >
		<label class="item item-input item-floating-label">
		<span class="input-label">  MobileNo</span>
		<input type="number" ng-model="formData.mobnum" placeholder= "Mobile Number"  required>
		</label>
    </ion-item>
    
	<ion-item class="item-input">      
		<label class="item item-input item-floating-label">
			<span class="input-label">  Email Id</span>
		<input type="email" ng-model="formData.emailadd" placeholder= "Email-address"  required>
		</label>
	</ion-item>   
    
	<ion-item class="item-input">
		<label class="item item-input item-floating-label">
			<span class="input-label">  Password</span>
		<input type="password" ng-model="formData.password" placeholder="Password" required>
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">  Confirm Password</span>
			<input type="password" ng-model="formData.confirmpassword" placeholder= "Confirm Password" required>
		</label>
    </ion-item>  
	<ion-item class="item-input">
		<label class="item item-input item-floating-label">
		<ion-checkbox ng-model="formData.male"><i class="icon ion-man" ></i></ion-checkbox>
		</label>
		<label class="item item-input item-floating-label">
		<ion-checkbox ng-model="formData.female"><i class="icon ion-woman"></i></ion-checkbox>
		</label>
	</ion-item>	
	<ion-item class="item-input">
		<label class="item item-input item-floating-label">
		<span class="input-label"></span>
		<ion-checkbox ng-model="formData.doctor"> I am a doctor.</ion-checkbox>
		</label>
		<label ng-if="formData.doctor" class="item item-floating-label">
		<input type="number" ng-model="formData.licenceNo" placeholder="Licence No" required>
		</label>
		
	</ion-item>
		<ion-item class="item-input">
		<label class="item item-input item-floating-label">
		<ion-checkbox ng-model="formData.termsyes"> I accept the <a href=""> Terms of Service </a>and <a href="">Privacy Policy</a> </ion-checkbox>
			</label>	
	</ion-item>
	</div>
	<div ng-if="(formData.firstname && formData.lastname && formData.mobnum && formData.emailadd && formData.password && formData.confirmpassword &&( formData.male || formData.female) && formData.termsyes)">
		<button  class="button button-block button-positive" href="">SignUp</button>
    </div>

	</form>
    </ion-content>
	
	<script id="my-modal2.html" type="text/ng-template">
     <ion-modal-view>

    <ion-header-bar class="bar-positive">
		  <h1 class="title">Email and Sms OTP</h1>
        <button class="button button-clear button-primary" ng-click="closeModal2()"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>

			<ion-content class="padding">
		<form name="otp">
		<ion-list>
		<ion-item class="item item-input item-floating-label">
            <span class="input-label">Sms OTP</span>
            <input name="otppin" type="number" placeholder="OTP recieved as SMS" ng-model="security.otpsms" required/>
		</ion-item>
		<ion-item class="item item-input item-floating-label">
        	<span class="input-label">Email OTP</span>
            <input name="otppin" type="number" placeholder="OTP recieved as email" ng-model="security.otpemail" required/>
		</ion-item>
		</ion-list>
		<br/>
		<div class="pull-center">  
			<button class="button button-outline button-assertive" ng-click="securitydets(security) ">Submit</button>
		</div>
		</form>	
	</ion-content>
		</ion-modal-view>
</ion-view>
