<ion-view>
<ion-tabs tabs-swipable class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">

    <ion-tab title="Hospitals" icon="fa fa-hospital-o"  href="#/main/listedentities" nav-direction="forward" >
      <ion-nav-view name="listed-entities"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Visits" icon="fa fa-envelope " href="#/main/allnotifications/123" nav-direction="forward">
      <ion-nav-view name="all-notifications"></ion-nav-view>
    </ion-tab>
       
    <ion-tab title="My Health" icon="fa fa-file-text" href="#/main/myhealth" nav-direction="forward">
      <ion-nav-view name="my-health"></ion-nav-view>
    </ion-tab>
      
    <ion-tab title="Doctor" icon="fa fa-user-md " href="#/main/doctortab" nav-direction="forward" ng-if="showDoctorsTab" >
      <ion-nav-view name="doctor-tab"></ion-nav-view>
    </ion-tab>
   
  </ion-tabs>
</ion-view>
