<ion-view>
  <ion-tabs tabs-swipable class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    
    <ion-tab title="Hospitals" href="#/main/listedentities">
      <ion-nav-view name="listed-entities"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Visits" href="#/main/allnotifications/123" badge="messagesdata.badgeCount" badge-style="badge-container badge-assertive">
      <ion-nav-view name="all-notifications"></ion-nav-view>
    </ion-tab>
    <!--
    <ion-tab title="Visits" href="#/main/recentnotifications/9739314152">
      <ion-nav-view name="recent-notifications"></ion-nav-view>
    </ion-tab> -->
    
    <ion-tab title="My Health" href="#/main/myhealth" >
      <ion-nav-view name="my-health"></ion-nav-view>
    </ion-tab>
      
  </ion-tabs>
</ion-view>