<ion-view view-title="trackmyhealth" name="listed-entities-view">
    <!--<ion-nav-buttons side="left" >

        <i class="ion-drag"></i>
                  </ion-nav-buttons>-->

 <ion-nav-title>

      <img src="img/icon.png" style="max-width: 35px;
    max-height: 30px;
    width: 100%;
    height: 100%;margin-top:10px"/>

        <span>trackmyhealth</span>

    </ion-nav-title>

        <ion-nav-buttons side="right" >
            <button class="button button-clear" ng-click="showFilterBar()">
             <i class="ion-search icon-btn-customize"></i>
            </button>
            <button class="button button-clear" on-touch="openPopover($event)">
                <i class="ion-android-more-vertical icon-btn-customize"></i>
            </button>

    </ion-nav-buttons>

  <ion-content>
        <ion-list  show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
          <ion-item ng-repeat="entity in hospitalslist track by $index" class="item item-avatar item-remove-animate"
                    style="    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;">
			  <!--<div class="col pull-left">
			  <span class="circle-span direct-chat-timestamp" style="padding-top: 12px; padding-left: 5px;font-weight: bold; font-size: 20px;">{{entity.hospitalname|limitTo:1}}</span>
			  </div>
              <div style="col">
              <h2 style="line-height: 40px;padding-left: 50px;">{{entity.hospitalname}} <div style="float:right;"><button class="button button-clear button-assertive" ng-click="hosinfo(entity.hospitalid, entity.hospitalcode)"></button>
				  </div> </h2>
              </div>
              <div class="col">
                <i class="ion-information-circled" ></i>
              </div>-->

              <a href="#/main/allnotifications/{{entity.hospitalid}}" class="item item-text-wrap item-avatar item-icon-right" style="padding-left: 60px;" nav-direction="enter">
                    <span class="circle-span direct-chat-timestamp"
                          style="padding-top: 12px; padding-left: 5px;font-weight: bold; font-size: 20px; left:5px; background-color: #D14836;opacity:1">{{entity.hospitalname|limitTo:1}}</span>
                    <h2>{{entity.hospitalname}}

                  </h2>

                  <i class="icon ion-information-circled" style="color: #D14836;" ng-click="hosinfo(entity.hospitalid, entity.hospitalcode)">

                  </i>


                    <!--<i class="icon ion-chatbubble muted"></i>-->
                </a>


			  </ion-item>
        </ion-list>

  </ion-content>
  <ion-floating-button  ng-click="showPopup()" has-footer="false" button-color=#d14836 icon="ion-plus" iconColor="#fff">
</ion-floating-button>

<script id="my-modal3.html" type="text/ng-template">

<ion-modal-view>
  <ion-header-bar class=" bar bar-positive">
   <h1 class="title">Hospital Registration</h1>
   <button class="button button-clear button-primary" ng-click="closeModal3()"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>

 <ion-content >
<div class="list list-inset">
                    <div class="item">
						<span class="input-label"><i class="ion-medkit" ></i> <strong>Hospital :</strong><p>{{hos.hospitalname}}</p></span>
                    </div>
                   	<div class="item">
                        <span class="input-label"><i class="ion-ios-location" ></i><strong> Address:</strong>
              <p>{{hos.hospitaladdress.addressline1}}
				 {{hos.hospitaladdress.addressline2}}  <br>{{hos.hospitaladdress.addressline3}} {{hos.hospitaladdress.city}} <br> {{hos.hospitaladdress.pincode}}  {{hos.hospitaladdress.state}} {{hos.hospitaladdress.country}}</p>
             </span>
                   </div>
                   <div class="item">
                        <span class="input-label"><i class="ion-ios-telephone" ></i><strong> Contacts:</strong><br><p> {{ hos.hospitaltelnumber}} {{hos.hospitalmobnumber}}</p>
               </span>
                 </div>
                     <div class="item">
                         <span class="input-label"><i class="ion-email" ></i> <strong>Email :</strong><p>
                             <a> {{hos.hospitalemailid}} </a> <a>{{hos.hospitalsecondaryemailid}}</a></p>
            </span>
                   </div>
                     <div class="item">
                         <span class="input-label"><i class="ion-eye" ></i><strong> Departments :</strong><br><p ng-repeat="dept in hos.hospitaldepartments"> {{dept}} </p></span>
                      </div>
                      <div class="item">
                          <span class="input-label"><i class="ion-erlenmeyer-flask" ></i><strong> In House Labs :</strong><br> <p><i class="ion-checkmark"></i></p>
            </span>
                      </div>
                   </div>
   </ion-item>
  </ion-list>
  </ion-content>
 </ion-modal-view>
</script>
</ion-view>
