<ion-view view-title="trackmyhealth" name="listed-entities-view">
    <ion-nav-title>
<span class="circle-span direct-chat-timestamp">
     <i class="icon ion-ios-pulse-strong assertive"></i></span></span>
    </ion-nav-title>

 <ion-nav-buttons side="right" >
            <button class="button button-clear" ng-click="showFilterBar()">
                 <i class=" ion-search icon-btn-customize"></i>
            </button>
            <button class="button button-clear" ng-click="showAlert()">
                 <i class="ion-android-options icon-btn-customize"></i>
            </button>
            <button class="button button-clear" on-touch="openPopover($event)">
                 <i class="ion-android-more-vertical icon-btn-customize"></i>
            </button>
</ion-nav-buttons>

  <ion-content scroll-sista="header">

     <ion-list  show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item ng-repeat="entity in hospitalslist track by $index" class="item item-avatar item-remove-animate">
            <span class="circle-span"  style ="background-color: #D14836";
                  ng-click="hosinfo(entity.hospitalid, entity.hospitalcode)">{{entity.hospitalname|limitTo:1}}
            </span>
             <a href="#/main/allnotifications/{{entity.hospitalid}}" class="item item-text-wrap item-avatar item-icon-right"  nav-direction="enter">
                    <h3>{{entity.hospitalname}} </h3>
                    <i class="icon ion-arrow-right-b assertive"></i>
             </a>

        </ion-item>
      </ion-list>
  </ion-content>
       <ion-floating-button  ng-click="showPopup()" has-footer="false" button-color=#d14836 icon="ion-plus" iconColor="#fff">
       </ion-floating-button>

<script id="my-modal3.html" type="text/ng-template">

<ion-modal-view>
  <ion-header-bar class=" bar bar-positive">
      <h1 class="title">Hospital Information</h1>
   <button class="button button-clear button-primary" ng-click="closeModal3()"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>

 <ion-content >

     <div class="list card">
 <div id="content"><div id="profile-info">
           <span id="profile-description">
               <h6 id="profile-name" ;>{{hos.hospitalname}}</h6><br><br><br></span></div>

  <div class="item item-divider">
      <h4> Phone :</h4>
    {{ hos.hospitaltelnumber}}{{hos.hospitalmobnumber}}</div>

   <div class="item item-divider">
       Email :
       <p> {{hos.hospitalemailid}} {{hos.hospitalsecondaryemailid}}</p></div>

   <div class="item item-divider" >
       <h4>Location :</h4>
         <div class="item"><p> {{hos.hospitaladdress.addressline1}} <br>
          {{hos.hospitaladdress.addressline2}}{{hos.hospitaladdress.addressline3}}
             {{hos.hospitaladdress.city}} {{hos.hospitaladdress.pincode}}
             {{hos.hospitaladdress.state}} {{hos.hospitaladdress.country}}</p></div>

     <div class="item item-divider">
         <h4> Departments :</h4>
       </div>
     <div class="item"> <p ng-repeat="dept in hos.hospitaldepartments">{{dept}}</p></div>

 <div class="item item-divider">
     <h4> In House Labs :</h4></div>
   <div class="item"> <h2>  <p>
               <i class="ion-checkmark"></i> </p></div>
</div></div>
</ion-content>
 </ion-modal-view>
</script>
</ion-view>
