<ion-view view-title="trackmyhealth" name="all-notifications-view">

    <ion-nav-title>

      <img src="img/icon.png" style="max-width: 35px;
    max-height: 30px;
    width: 100%;
    height: 100%;margin-top:10px"/>

        <span>trackmyhealth</span>

    </ion-nav-title>
       <ion-nav-buttons side="right" >
            <button class="button button-clear" ng-click="showFilterBar()">
             <i class=" ion-search icon-btn-customize"></i>
            </button>
            <button class="button button-clear" on-touch="openPopover($event)">
                <i class="ion-android-more-vertical icon-btn-customize"></i>
            </button>
    </ion-nav-buttons>
	<ion-content>

<div class="list card" ng-repeat=" visit in visitinfo track by $index">

  <div class="item item-avatar">
	  <img src="img/icon.png">
	  <h2>{{visit.hospitalname}}</h2>
	  <p>
            {{visit.admissiondate|date:"dd MMM HH:mm ":"UTC"}}
      </p>
  </div>

  <div class="item item-body">
	  <!--<p>{{visit.admissiondate}}</p>
	  <p>{{visit.department}}</p>
	  <p>{{visit.visittype}}</p>
    <p>
      <a  href="" ng-click="notifications(visit._id)" class="subdued">Notifications </a>
    </p>  -->
 <div class="list card">

  <a href="#" ng-click="patientdetails(visit._id)" class="item item-icon-left">
    <i class="icon ion-person"></i>
    Patient Details
  </a>
  <a href="#" ng-click="hospitaldetails(visit._id)" class="item item-icon-left">
    <i class="icon ion-medkit"></i>
    Hospital Details
  </a>

  <a href="#" ng-click="visitdetails(visit._id)" class="item item-icon-left">
    <i class="icon ion-information-circled"></i>
    Visit Details
  </a>

  <a href="#" ng-click="notifications(visit._id)" class="item item-icon-left">
    <i class="icon ion-chatbox"></i>
    Notifications
  </a>

</div>
  </div>

</div>

 </ion-content>


	<script id="my-modal5.html" type="text/ng-template">
     <ion-modal-view>

    <ion-header-bar class="bar-positive">
      <h1 class="title">Notifications for Visit</h1>
        <button class="button button-clear button-primary" ng-click="closeModal5()"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>
    	<ion-content class="padding">
				<div class="list card primary-bg" ng-repeat="note in notinfo track by $index">
			<div class="item item-avatar">
				<img src="img/icon.png">
				<h2>{{note.notificationdate | date: "dd MMM yyyy" }}</h2>
			</div>
			 <div class="item item-body">
				<p>
				{{note.notificationtext}}
				</p>

                 <p>
                     <span class="item-note notifyTimeCls">
                        <span class="item-note" >{{note.notificationdate |date:"dd MMM HH:mm ":"UTC"}}</span>
                    </span>
                 </p>
				<!--<p><a class="subdued"> </a></p>-->
                </div>
            </div>

         </ion-content>
       </ion-modal-view>
	</script>

<script id="patientdetails.html" type="text/ng-template">

<ion-modal-view>
  <ion-header-bar class=" bar bar-positive">
   <h1 class="title">Patient Details</h1>
   <button class="button button-clear button-primary" ng-click="closeModal3()"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>

 <ion-content >
<div class="list list-inset">
                    <div class="item">
                        <span class="input-label"><i class="ion-medkit" ></i><strong>Patient Name :</strong><p>{{visitdata.patientdetails.firstname}} {{visitdata.patientdetails.lastname}}</p></span>
                    </div>
                   	<div class="item">
                        <span class="input-label"><i class="ion-ios-email" ></i><strong> Email Id:</strong>
              <p>{{visitdata.patientdetails.emailid}}
              </p>
             </span>
                   </div>
                   <div class="item">
                        <span class="input-label"><i class="ion-ios-telephone" ></i><strong> Mobile Number:</strong><br><p>{{visitdata.patientdetails.mobilenumber}}</p>
               </span>
                 </div>
                     <!--<div class="item">
                         <span class="input-label"><i class="ion-email" ></i> <strong>Email :</strong><p>
                             <a> {{hos.hospitalemailid}} </a> <a>{{hos.hospitalsecondaryemailid}}</a></p>
            </span>
                   </div>
                     <div class="item">
                         <span class="input-label"><i class="ion-eye" ></i><strong> Departments :</strong><br><p ng-repeat="dept in hos.hospitaldepartments"> {{dept}} </p></span>
                      </div>
                      <div class="item">
                          <span class="input-label"><i class="ion-erlenmeyer-flask" ></i><strong> In House Labs :</strong><br> <p><i class="ion-checkmark"></i></p>
            </span>
                      </div>-->
                   </div>
   </ion-item>
  </ion-list>
  </ion-content>
 </ion-modal-view>
</script>


<script id="hospitaldetails.html" type="text/ng-template">

<ion-modal-view>
  <ion-header-bar class=" bar bar-positive">
   <h1 class="title">Hospital Details</h1>
   <button class="button button-clear button-primary" ng-click="closeModal4()"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>

 <ion-content >
     <div class="list list-inset">
                    <div class="item">
						<span class="input-label"><i class="ion-medkit" ></i> <strong>Hospital :</strong><p>{{visitdata.hospitaldetails.hospitalname}}</p></span>
                    </div>
                   	<div class="item">
                        <span class="input-label"><i class="ion-ios-location" ></i><strong> Address:</strong>
              <p>{{visitdata.hospitaldetails.hospitaladdress.addressline1}}
				 {{visitdata.hospitaldetails.hospitaladdress.addressline2}}  <br>{{visitdata.hospitaldetails.hospitaladdress.addressline3}} {{visitdata.hospitaldetails.hospitaladdress.city}} <br> {{visitdata.hospitaldetails.hospitaladdress.pincode}}  {{visitdata.hospitaldetails.hospitaladdress.state}} {{visitdata.hospitaldetails.hospitaladdress.country}}</p>
             </span>
                   </div>
                   <div class="item">
                        <span class="input-label"><i class="ion-ios-telephone" ></i><strong> Mobile Number:</strong><br><p> {{visitdata.hospitaldetails.hopitalmobnumber}}</p>
               </span>
                 </div>
         <div class="item">
                        <span class="input-label"><i class="ion-ios-telephone" ></i><strong> Tel Number:</strong><br><p> {{visitdata.hospitaldetails.hospitaltelnumber}}</p>
               </span>
                 </div>
                     <div class="item">
                         <span class="input-label"><i class="ion-eye" ></i><strong> Departments :</strong><br><p ng-repeat="dept in visitdata.hospitaldetails.hospitaldepartments"> {{dept}}, </p></span>
                      </div>
                      <div class="item">
                          <span class="input-label"><i class="ion-erlenmeyer-flask" ></i><strong> In House Labs :</strong><br> <p><i class="ion-checkmark"></i></p>
            </span>
                      </div>
                   </div>

   </ion-item>
  </ion-list>
  </ion-content>
 </ion-modal-view>
</script>

<script id="visitdetails.html" type="text/ng-template">

<ion-modal-view>
  <ion-header-bar class=" bar bar-positive">
   <h1 class="title">Visit Details</h1>
   <button class="button button-clear button-primary" ng-click="closeModal6()"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>

 <ion-content >
<div class="list list-inset">
                    <div class="item">
                        <span class="input-label"><i class="ion-medkit" ></i><strong>Visit Type :</strong><p>{{visitdata.visitdetails.visittype}}</p></span>
                    </div>
                   	<div class="item">
                        <span class="input-label"><i class="ion-ios-email" ></i><strong> Reason for visit :</strong>
              <p>{{visitdata.visitdetails.diagnosticdets[0].reasonforvisit}}
              </p>
             </span>
                   </div>
                   <div class="item">
                        <span class="input-label"><i class="ion-ios-telephone" ></i><strong> Primary Diagnosis :</strong><br><p>{{visitdata.visitdetails.diagnosticdets[0].primarydiagnosis}}</p>
               </span>
                 </div>
                <div class="item">
                <span class="input-label"><i class="ion-ios-telephone" ></i><strong> Lab Tests :</strong><br><p>{{visitdata.visitdetails.labtests[1].test2}}</p>
               </span>
                 </div>

    <div class="item">
                <span class="input-label"><i class="ion-ios-telephone" ></i><strong> IP Admission No :</strong><br><p>{{visitdata.visitdetails.ipadmissionno}}</p>
               </span>
                 </div>
    <div class="item">
                <span class="input-label"><i class="ion-ios-telephone" ></i><strong> Ward Information :</strong><br><p>{{visitdata.visitdetails.wardinfo}}</p>
               </span>
                 </div>


                     <!--<div class="item">
                         <span class="input-label"><i class="ion-email" ></i> <strong>Email :</strong><p>
                             <a> {{hos.hospitalemailid}} </a> <a>{{hos.hospitalsecondaryemailid}}</a></p>
            </span>
                   </div>
                     <div class="item">
                         <span class="input-label"><i class="ion-eye" ></i><strong> Departments :</strong><br><p ng-repeat="dept in hos.hospitaldepartments"> {{dept}} </p></span>
                      </div>
                      <div class="item">
                          <span class="input-label"><i class="ion-erlenmeyer-flask" ></i><strong> In House Labs :</strong><br> <p><i class="ion-checkmark"></i></p>
            </span>
                      </div>-->
                   </div>
   </ion-item>
  </ion-list>
  </ion-content>
 </ion-modal-view>
</script>





</ion-view>
