<ion-view view-title="trackmyhealth" name="all-notifications-view">
<ion-nav-title align-title="left">
  <span class="circle-span direct-chat-timestamp">
<img src="img/icon.png" class="img-responsive"/>
</span>
    </ion-nav-title>

<ion-nav-buttons side="right">
           <button class="button button-clear" ng-click="filterdetails()">
              <i class="ion-funnel icon-btn-customize"></i>
           </button>
           <button class="button button-clear" ng-click="selectImageSource()">
                 <i class=" ion-camera icon-btn-customize"></i>
            </button>
            <button class="button button-clear" ng-click="showFilterBar()">
             <i class=" ion-search icon-btn-customize"></i>
            </button>
             <button class="button button-clear" on-touch="openPopover($event)">
                <i class="ion-android-more-vertical icon-btn-customize" ></i>
             </button>
    </ion-nav-buttons>

<ion-content scroll-sista="header" has-bouncing="false" overflow-scroll="true">

    <div class="list card item-text-wrap" ng-repeat=" visit in visitinfo track by $index" >
<p> <i class="fa  fa-star-half-o assertive" aria-hidden="true" ng-click="showMyPopup()"></i>
    <strong style="color:#d14836">{{visit.visitid.admissiondate|date: "dd MMM yy"}} </strong> {{visit.patientregprofiles.firstname}} {{visit.patientregprofiles.lastname}}

<i style="font-style: italic"> {{visit.hospitalid.hospitalname}}</i> &nbsp;&nbsp; <a href="#" ng-click="patientdetails(visit._id)"><i class="icon ion-arrow-right-b assertive " ></i></a></p>

<p> <b>Visit:</b> {{visit.visitid.ipadmissionno}} {{visit.visitid.visittype}} {{visit.visitid.wardinfo}}</p>

                    <p><b>Notification :</b>{{visit.notificationtext}} <a href="#"><button class="button button-clear pull-right" ng-if="visit.reporturl" ng-click="downloaddocument(visit.reporturl)" style="color:blue;"> Report</button></a></p>
                 </div>

 </ion-content>


<script id="my-modal5.html" type="text/ng-template">
  <ion-modal-view>
       <ion-header-bar class="bar-positive">
          <h1 class="title">Notifications for Visit</h1>
                <button class="button button-clear button-primary" ng-click="closeModal5()">
                    <i class="icon ion-android-close"></i>
                </button>
        </ion-header-bar>
<ion-content class="padding">
    <div class="list card primary-bg" ng-repeat="note in notinfo track by $index">
            <div class="item item-avatar">
                <img src="img/icon.png">
                <h2>{{note.notificationdate | date: "dd MMM yyyy" }}</h2>
            </div>
             <div class="item item-body">
                <p>{{note.notificationtext}}</p>
                <p><span class="item-note notifyTimeCls">
                        <span class="item-note" >{{note.notificationdate |date:"dd MMM HH:mm ":"UTC"}}</span>
                    </span>
                 </p>

        <div class="pull-center">
                <button class="button button-outline button-assertive" ng-click="downloaddocument(note.reporturl)">View Document</button>
            </div>
        </div>
    </div>

</ion-content>
</ion-modal-view>
</script>

<script id="patientdetails.html" type="text/ng-template">

<ion-modal-view>
  <ion-header-bar class=" bar bar-positive">
   <h1 class="title">Details</h1>
   <button class="button button-clear button-primary" ng-click="closeModal3()"><i class="icon ion-android-close"></i></button>
    </ion-header-bar>

 <ion-content>
     <ion-slide-box active-slide="myActiveSlide" delegate-handle="visitdata">

         <ion-slide>
      <div class="list card" style=" padding-top:25px;">
          <div class="item item-divider"> <h2><strong>Visit Details
              </strong>
      </h2></div>

           <div class="item item-divider" >
               <h4> IP Admission No :</h4></div>
         <div class="item-text-wrap"><p>
             {{visitdata.visitdetails.ipadmissionno}}</p>
                 </div>
 <div class="item item-divider">
              <h4>Visit Type :</h4></div>
        <div class="item-text-wrap"><p>
            {{visitdata.visitdetails.visittype}}</p>
          </div>

      <div class="item item-divider">
          <h4>Reason for visit :</h4></div>
              <div class="item-text-wrap"><p>{{visitdata.visitdetails.diagnosticdets[0].reasonforvisit}}</p>
               </div>

       <div class="item item-divider">
            <h4> Primary Diagnosis :</h4> </div>
                <div class="item-text-wrap"><p> {{note.notificationtext}}</p>
                 </div>

    <div class="item item-divider">
            <h4>Lab Tests :</h4></div>
     <div class="item-text-wrap">
         <p ng-repeat="labtest in visitdata.visitdetails.labtests track by $index" style="font-size: 15px;">{{labtest}}</p>
                 </div>
     <div class="item item-divider">
            <h4> Ward Information :</h4></div>
     <div class="item-text-wrap"><p>{{visitdata.visitdetails.wardinfo}}</p>
                 </div>

 </div></ion-slide>

          <ion-slide>
    <div class="list card" style=" padding-top:25px;">
          <div class="item item-divider"> <h2><strong>Hospital Details </strong></h2></div>

      <div class="item item-divider" >
            <h4>Address :</h4></div>
         <div class="item-text-wrap"><p> {{visitdata.hospitaldetails.hospitaladdress.addressline1}} {{visitdata.hospitaldetails.hospitaladdress.city}}  {{visitdata.hospitaldetails.hospitaladdress.state}} {{visitdata.hospitaldetails.hospitaladdress.country}}</p></div>

     <div class="item item-divider">
         <h4> Telephone Number :</h4>
         </div>
        <div class="item-text-wrap"><p>
            {{visitdata.hospitaldetails.hospitaltelnumber}}</p></div>

 <div class="item item-divider">
          <h4> Departments :</h4></div>
     <div class="item-text-wrap"><p ng-repeat="dept in visitdata.hospitaldetails.hospitaldepartments"> {{dept}}</p></div>

 <div class="item item-divider">
          <h4>   In House Labs :</h4></div>
     <div class="item-text-wrap"><p>{{visitdata.hospitaldetails.inhouselab}}</p></div>
</div></ion-slide>

           <ion-slide>
       <div class="list card" style="padding-top:25px;">
          <div class="item item-divider"> <h2><strong>Patient Details </strong></h2></div>
            <div class="item item-divider"><h4>
                Patient :</h4>
           </div>
         <div class="item-text-wrap">
        <p>{{visitdata.patientdetails.firstname}} {{visitdata.patientdetails.lastname}}</p>
           </div>
     <div class="item item-divider"><h4>
         Email :</h4></div>
           <div class="item-text-wrap"><p>
               {{visitdata.patientdetails.emailid}} </p>
           </div>

  <div class="item item-divider" ><h4>
         Phone :</h4></div>
 <div class="item-text-wrap"><p>
     {{visitdata.patientdetails.mobilenumber}}</p>

    </div>
           <div class="item item-divider"><h4>
         Registration Date :</h4></div>
 <div class="item-text-wrap"><p>
     {{visitdata.patientdetails.regdate | date: "dd MMM yyyy"}}</p>

    </div>
           <div class="item item-divider"><h4>
         Registration Type :</h4></div>
 <div class="item-text-wrap"><p>
     {{visitdata.patientdetails.regtype}}</p>

    </div>
           </div>
      </ion-slide>
     </ion-slide-box>
  </ion-content>
 </ion-modal-view>
</script>
<script id="filterPatientDetails.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-positive">
            <h1 class="title">Filter</h1>
            <button class="button button-clear button-primary" ng-click="closeModalfilter()"><i class="icon ion-android-close"></i></button>
        </ion-header-bar>
        <ion-content>
            <ion-item class="item-input">
                <span class="input-label">Patient Name</span>
                <label class="item-input">
                  <select ng-model="appliedfilters.patientnameselected" ng-options="pname for pname in filtersavailable.patientnames">
                    </select>
                </label>
            </ion-item>
              <ion-item class="item-input">
                 <span class="input-label">Visit Type</span>
                 <label class="item-input">
                    <select ng-model="appliedfilters.visittypeselected" ng-options="visittype for visittype in filtersavailable.visittypes">
                    </select>
                  </label>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">Hospital Name</span>
                <label class="item-input">
                    <select ng-model="appliedfilters.hospitalnameselected" ng-options="hsname for hsname in filtersavailable.hospitalnames">
                    </select>
                </label>
            </ion-item>
            <ion-item class="item-input">

          		<ion-checkbox class="item-checkbox-left" ng-model="appliedfilters.docswithattachment">Documents with attachments</ion-checkbox>

          </ion-item>

          <div class="pull-right">
              <button class="button-small button-assertive" ng-click="filterResetAll()">Reset All fields</button>
          </div>
          <br>
          <div class="pull-center">
            <button class="button button-assertive" ng-click="filterapply()">Apply</button>
          </div>
        </ion-content>
            </ion-modal-view>
    </script>
<script id="pdf-viewer.html" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Invoice</h1>
    </ion-header-bar>
    <ion-content>
        <ng-pdf ng-if="pdfUrl" template-url="templates/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
    </ion-content>
    </ion-modal-view>
</script>
</ion-view>
