/* PASSCODE EXAMPLE */
.passcode-example {
    background-color: #5995DC;
}

.passcode-example .bar-header {
    background-color: #2572CD;
}

.passcode-example .row .col{
    text-align: center;
}

.passcode-example .row .col.forgot {
    color: #fff;
}

.passcode-example .row .col h4 {
    color: #fff;
}

.passcode-example .row .col span {
    text-decoration: underline;
}

.passcode-example .row .col.col-input {
    /*background: linear-gradient(#000, #000), linear-gradient(#000, #000), linear-gradient(#000, #000);
    background-size: 1px 20%, 100% 1px, 1px 20%;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
    border: none;*/
    padding: 10px;
    margin: 40px 20px;
    min-height: 30px;
    border-bottom: 1px solid #999;
    color: #999;
}

.passcode-example .row .col .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #999;
    margin: auto;
}

/* END OF PASSCODE EXAMPLE */

.dark-example {
    background-color: #505050;
}

.dark-example .bar-header {
    background-color: #444;
}


.flat-example {
    background-color: #FFF;
}

.flat-example .row .col.forgot {
    color: #2572CD;
}

.flat-example .row .col h4 {
    color: #2572CD;
}

.flat-example .row .col.col-input {
    background: linear-gradient(#2572CD, #2572CD), linear-gradient(#2572CD, #2572CD), linear-gradient(#2572CD, #2572CD);
    background-size: 1px 20%, 100% 1px, 1px 20%;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
    border: none;
}

.flat-example .row .col .circle {
    background-color: #2572CD;
}


/* custom css for chat bubble background */

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: #DDE9FF;
}
.customborder{
  border: 8px solid #666;
}
.customround{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.customborder.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.customborder.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.customborder.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.customborder.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.customborder.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.customborder.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.customborder.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #DDE9FF transparent transparent #DDE9FF;
}

/* Right triangle placed top right flush. */
.tri-right.customborder.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* tab custom css */
.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
   border-color: #ccc;
   background-color: #fff;
   color:#fff!important;
}

.tabs-striped.tabs-color-light .tab-item.tab-item-active,
  .tabs-striped.tabs-color-light .tab-item.active,
  .tabs-striped.tabs-color-light .tab-item.activated {
    border: 0 solid #fff;}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated{
  border-width: 0px 0px 4px 0px !important;
}

.customBtnStyle{
  border: none!important;
  color:#fff!important;
	width:49%;
	float:left!important;
	clear:none;
  background: #106194 !important;
}
.popup-container .button-positive{

border:1px solid #d7dada;-webkit-box-shadow: #B4B5B5 1px 1px 1px  ;-moz-box-shadow: #B4B5B5 1px 1px 1px ; box-shadow: #B4B5B5 1px 1px 1px  ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #031B30;
 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);

}

.popup-container .button-positive:hover{
    color:#d14836;
}
.LandingbtnRight{
    margin-left:14px;
}
.logBtnStyle{
	position: absolute;
    width: 102%;
	bottom:0px;
}
.landingOuter > div{
    height:100%;
}
body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif!important;
}
.requiredStyle{
    padding:5px;
    height:30px;
    margin-bottom:10px;
}
.loginInput{
    height:35px;
    padding:5px 0px;
    line-height:none!important;
    border:none!important;
    border-bottom:1px solid #ccc!important;
}

.closeIcon{
 background:url('../img/close-round.png') 0 0;
 width:20px;
 height:20px;
 }
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff005b6d",endColorstr="#ff010000",GradientType=0);
    }
}

.bar.bar-positive{
    border-color: #d14836 !important;
    background-color: #d14836 !important;
    height:50px;
}
.padding{
    padding:0px!important;
}
.button.button-block {
    margin-bottom: 0px !important;
    background-color:#d14836 !important;
	border-color: #d14836;
}

.errorCls{
    color:#FF0000;
    background-color:#fff;
    width:100%;
}
.tabs-striped.tabs-background-positive .tabs{
    background-color: #fff;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated{
    color:#4a4a4a!important;
}
.tab-title {
    color:#000 !important;
}
.tabs{
    border-color: #fff !important;
}
.ion-drag{
    font-size: 170% !important;
    margin: 9px 0px 0px 5px;
}
.ion-android-more-vertical{
    font-size: 155% !important;
    margin-right: 10px;
}

.ion-android-add{
    font-size: 170% !important;
    margin:10px 10px 0px 0px;
}
.ion-android-arrow-back{
    font-size: 170% !important;
    margin:10px 10px 0px 0px;
}
.notifyTimeCls{
   margin-left: 5px;
    float: left;
}
.item-note, .timetxt{
    float: none;
    color: #aaa;
    font-size: 12px;
    /*margin-top: 10px;*/
}
/*.ion-android-delete {
    font-size: 170%;
     margin:20px 13px 0px 0px;
}*/
.ion-checkmark-circled, .ion-close-circled{
      font-size: 180%;
    margin: 8px 10px;
}
.allNotTopMargin{
    margin-top: 5px;
}
.radBtnNotifyCls{
    border: none;
    width: 20px;
    position: static;
    float: left;
    background: none;


}
.allNotificationCls .item-checkbox{
    padding-left: 15px;
    margin-right: 15px;
}
.allNotificationCls .item-content{
    overflow: hidden!important;
}
.deleteButton{
    margin-right: 10px;
}
.subscribtionTextCls{
    line-height: 20px;
}

.listIdentiesCls .item-content{
    min-height: 50px;
    padding: 27px 49px 16px 75px;

}
.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}
.notificationDeleteBtnCls, .notificationBackArrowBtn{
    margin-top: 2px;
}
.bar .title{
    top:3px!important;
}
.popup{
    width:auto;
    height:auto;

}
.popup-head{
    background-color:#d14836 ;
}
.popup-head h3{
    color:#fff!important;
}
.popup-body span{
    font-size:13px;
    text-align: center!important;
	object-position: center;
}
.popup-buttons{
  padding:10px 0px 0px 0px;!important;
  min-height: auto;
  background-color: #d14836;
}
.notificationBoxCls{
    margin:10px 10px 10px 15px;
    border:1px solid #F2F4F5;
}
.allNotificationCls .item-complex .item-content{
    /*background-color: #F2F4F5;*/
     padding: 5px 10px !important;
}
.notificationBoxCls:before{
     content: "\25BC";
    position: absolute;
    left:-16px;
    font-size:30px;
    color: #F2F4F5; /*E3E7E8*/
    top: -1px;
}
.notificatioSelectAllCls{
    margin: 30px 20px 0 5px;
}
.notificationRepeatBox{
    margin:0px 5px 5px 5px;
    height: 0px!important;
}
.notificationBoxContent{
    /*margin-top: 18px;*/
}
.notificationBoxContent div{
    border: none;
    background: none;
}
.allNotificationCls .item-content {
    background-color: none!important;
}
.allNotificationCls .item{
    border: none;
}
.allNotificationCls .item-divider{
    background-color: #fff;
    border-bottom: 3px solid #1267A3;
    color:#1267A3;
    font-size: 16px;
    padding: 5px 0px 8px 0px!important;

}
.forgotPasswordPageCls .item-floating-label .input-label{
     opacity: 0.7;
    top: -1px;
}
.forgotPasswordPageCls #securityquesid{
    width:97%;
    padding: 3px 2px;
    margin: 3px 1px;
}
.forgotPasswordPageCls .errorMessagesCls{
   padding-top: 6px;

}
span.item-note{
    float:right;
}
.passcode-example .ion-numeric-keyboard .col, .control-key{
   color: #fff;
    background: #d14836  !important;

}

/*CSS for carousel images to make image resposive*/
.img-responsive{
    display: block;
    width: 100%;
    height: 100%;
}
.forgotPasswordPageCls .txtRplcCls{
    opacity: 0.5;
}
.transparent-selected-box{
    position:absolute;
    left:0;
    top:0;
    background: rgba(16, 97, 148, 0.18) !important;
    width:100%;
    height:90%;
    border-radius: 10px;
}
.direct-chat-messages {
    overflow: auto;
    padding-left: 5px !important;
    padding: 10px 0px 5px 10px;
    transform: translate(0px, 0px);
}
.direct-chat-messages {
    height: auto;
}

.direct-chat-messages-active{
    background-color: #d9edf7;
    overflow: auto;
    padding-left: 5px !important;
    padding: 10px 0px 5px 10px;
    transform: translate(0px, 0px);
    height: auto;
}
.direct-chat-messages-active .direct-chat-text{
    background: none !important;
}
.chat-box-single-line {
    border-bottom: 1px solid #6BA7DA; /* green #a4c6b5*/
    height: 25px;
    margin: 0px 0 20px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    margin-bottom: 11px;
    background: #428bca none repeat scroll 0 0;
    margin-right: 0px;
    border-bottom-width: 1px;
}

abbr.timestamp {
    background: #428bca none repeat scroll 0 0; /* green 3f9684*/
    color: #fff;
    padding: 0 22px;
}

.direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;  /*backup pinck color F5F5F5*/
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}
.direct-chat-text::after, .direct-chat-text::before {
    border-color: transparent #dfece7 transparent transparent;
}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #dfece7 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 4px ; /*15px;*/
    width: 0;
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}
.direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 0px /*5px;*/;
    color: #444;
    margin: 5px 10px 10px 30px;
    padding: 5px 10px;
    position: relative;
}

.circle-span{
			background-color: #428bca;
			opacity: 0.8;
			z-index: 100;
			width: 40px;
			height: 40px;
			display: none;
			position: absolute;
			border-radius: 50%;
			text-align: center;
			line-height: 16px;
			vertical-align: middle;
			color: #ffffff;
			display: block;
			word-wrap: break-word;
			padding: 6px 5px 0px 1px ;/*11px 9px 0px 7px;*/
			font-size: 12px;
}
.direct-chat-messages-active .circle-span{
    background: #74B7D8;
    color: #F4F5F5;
}
.span_backup {
            background-color: #428bca;
            opacity: 0.8;
            z-index: 100;
            width: 60px;
            height: 60px;
            display: none;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            vertical-align: middle;
            color: #ffffff;
			display:block;
}
.delete-msg-confirm-popup .popup-head {
  display: none;
}
.delete-msg-confirm-popup .popup-buttons .button{
    margin-right: 0px
}

.delete-msg-confirm-popup .button.button-positive{
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #387ef5;
    font-weight: initial;
    font-size:16px;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    text-shadow: none;
}

.delete-msg-confirm-popup .button.button-positive:active{
    background: #e5e5e5;
}

.delete-msg-confirm-popup .button.button-default{
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #387ef5;
}

.delete-msg-confirm-popup .button.button-default:active{
    background: #e5e5e5;
}
.delete-msg-confirm-popup .popup{
    background: rgba(226, 226, 226, 0.88) !important;
}

.tabs-top > .tabs .tab-item.tab-item-active .badge, .tabs-top > .tabs .tab-item.active .badge, .tabs-top > .tabs .tab-item.activated .badge, .tabs.tabs-top .tab-item.tab-item-active .badge, .tabs.tabs-top .tab-item.active .badge, .tabs.tabs-top .tab-item.activated .badge{
    right: 0%;
    top: 11%;
    font-size: 8px;
}
.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive{
    right: 0%;
    top: 11%;
    font-size: 8px;
}

/***********************************JABEE-15-MAR-2015**************************************************/
.item-avatar > span:first-child{
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item-avatar > a span:first-child{
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.selected-section{
    background-color: #d9edf7;
}

.selected-section div{
    background-color: #d9edf7;
}

/************************************JABEE-16-MAR-2016*********************************/

.notification-img{
    max-width: 300px;
    max-height: 150px;
    width: 100%;
    height: 100%;
}
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.image{
         width: 100%;
         height: 600px;
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center, center;
}

.icon-btn-customize{
        margin-right: 15px;
        font-size: 23px !important;
}
.ion-ios-star:before {
	font-size: 30px;
}
.ion-ios-star-outline:before {
	font-size: 30px;
}

.button.button-block.button-positive {
    margin-bottom: 0px !important;
    background-color:#d14836 !important;
    border-color: #d14836;
}

.ion-man:before {
	font-size: 35px;
}
.ion-man:after {
	font-size: 35px;
}
.ion-woman:before {
	font-size: 35px;
}
.ion-woman:after {
	font-size: 35px;
}
.ion-ios-calendar-outline:before {
	font-size: 35px;
}
.ion-ios-calendar-outline:after {
	font-size: 35px;
}
.ionic_datepicker_popup .popup-body .selected_date_full {
	background-color: #d14836;
}
.pull-center {
	text-align: center;
}
.ion-person:before {
    font-size: 25px;
}
.ion-locked:before {
   font-size: px;
}
.bar.bar-positive {
    border-color: #d14836 !important;
    background-color: #d14836 !important;
    background-image: linear-gradient(0deg, #d14836, #d14836 50%, transparent 50%) !important;
    color: #fff !important;
}
.central {
	padding-top: 50%;
}

p.wordwraplabtests {
    width: 100%;
    word-wrap: break-word;
}
html, body {
  font-family: "Comic Sans MS", cursive, sans-serif; /* simulated font because of header origins */ /*
  background-color: #3e4d55;*/
  margin: 0px;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 18px;
}
.item h2 {
    margin: 10px 10px 2px 0;
    font-size: 15px;
    font-weight: normal;
}
#section-all {
  background-color: #FFF;
  width: 500px;
  margin-left: 5px;
  border-radius: 4px;
  box-shadow: 3px 3px #bdbdbd;
}
#section {
  position: relative;
  width: 300px;
  height: 100px;
  padding-left: 50px;
  background-color: #FFF;
    text-align: center;
}
hr {
  border: 1px solid #cfebe8;
  margin: 2px;
  max-width: 500px;
}
#section-text {
  color: #009688;
  display: inline-block;
}
.popup{
  max-height: 110% ;
  width: 70%;
}
.popup-title{
  color: #009688;
}

html, body {
  min-height: 100%;
}

body {
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  background: #404040;
  background-image: -webkit-radial-gradient(circle, #555555, #333333 80%);
  background-image: -moz-radial-gradient(circle, #555555, #333333 80%);
  background-image: -o-radial-gradient(circle, #555555, #333333 80%);
  background-image: radial-gradient(circle, #555555, #333333 80%);
}

.container {
  margin: 80px auto;
  width: 480px;
  text-align: center;
}

.container .nav {
  display: inline-block;
  text-align: left;
}

.nav {
      text-overflow:ellipsis;
  overflow: hidden;
  padding: 4px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 23px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.08), 0 -1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.08), 0 -1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.12);
}
.nav-list {
  padding: 0 6px;
  height: 34px;
  background: #f4f5f7;
  border-radius: 18px;
  background-image: -webkit-linear-gradient(top, white, #e1e2eb);
  background-image: -moz-linear-gradient(top, white, #e1e2eb);
  background-image: -o-linear-gradient(top, white, #e1e2eb);
  background-image: linear-gradient(to bottom, white, #e1e2eb);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-list > li {
  float: left;
  height: 17px;
  margin: 8px 0;

}

.nav-list > li + li {
  border-left: 1px dotted #989ca8;
}

.nav-link {
  float: left;
  position: relative;
  margin-top: -8px;
  padding: 0 14px;
  line-height: 34px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px white;
}

.nav-link:hover {
  color: #333;
  text-decoration: underline;
}

.nav-counter {
  position: absolute;
  top: -1px;
  right: 1px;
  min-width: 8px;
  height: 20px;
  line-height: 20px;
  margin-top: -11px;
  padding: 0 6px;
  font-weight: normal;
  color: white;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: #e23442;
  border: 1px solid #911f28;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
  background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
  background-image: -o-linear-gradient(top, #e8616c, #dd202f);
  background-image: linear-gradient(to bottom, #e8616c, #dd202f);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.nav-counter-green {
  background: #75a940;
  border: 1px solid #42582b;
  background-image: -webkit-linear-gradient(top, #8ec15b, #689739);
  background-image: -moz-linear-gradient(top, #8ec15b, #689739);
  background-image: -o-linear-gradient(top, #8ec15b, #689739);
  background-image: linear-gradient(to bottom, #8ec15b, #689739);
}

.nav-counter-blue {
  background: #3b8de2;
  border: 1px solid #215a96;
  background-image: -webkit-linear-gradient(top, #67a7e9, #2580df);
  background-image: -moz-linear-gradient(top, #67a7e9, #2580df);
  background-image: -o-linear-gradient(top, #67a7e9, #2580df);
  background-image: linear-gradient(to bottom, #67a7e9, #2580df);
}

.slider-pager {
  position: absolute;
   top: 10px;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: center;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 1px;
  width: 100%;
 }
 .card .item:last-child,
 .list-inset .item:last-child {
   margin-bottom: -5px;
   margin-top: -5px;
 }

 /*inboxofallmsg css*/
 span .circle-span.direct-chat-timestamp {
     padding-top: 12px;
     font-weight: bold;
     font-size: 20px;
     background-color: #fff;
     opacity:1
 }
 .button .ion-android-more-vertical{
   font-size:30px!important;
   color: light;
 }
 div .list.card{
    padding-left:19px;
     padding-top:10px;
 }
 .list.card{
     padding-top:25px;
 }

 .list .item h2 {
   text-align: center;
        font-size:18px;
      }
 .list .item h4 {
     font-size: 17px;
     color:#33aaee;
 }
 .list .item-text-wrap p{
     font-size: 17px;
     padding-left:17px
 }
 /* listedentities css*/
 .item.item-avatar.item-remove-animate{
     padding-left: 5px;
     padding-right: 5px;
     padding-bottom: 0px;
     padding-top: 0px;
 }
 .item h3{
    margin: 12px 0 4px 0;
    font-size: 16px;
    padding-right: 5px;
 }

.icon.ion-android-attach{
    font-size: 18px;
}
 /*signup page Css*/
 a {
    color:#000;
 }
 .item .item-content .icon.ion-transgender{
    font-size:24px !important;
 }
 .item-checkbox-left{
     right:12px;
 }
 /* myhealth css*/
 button .ion-android-more-vertical {
     font-size:32px!important;
 }
 .visit .right{
     width : 100%;
 }
 /* patient profile css*/
 .circle-span{
     padding-top: 12px;
     padding-left: 5px;
     font-weight: bold;
     font-size: 20px;
     left:5px;
     background-color:#000;
     opacity:1;
 }

 /*landing css*/
 .container-responsive.logBtnStyle a{
  display:block;
 }
 .container-responsive.logBtnStyle a .button{
     display:block;
     width:1px;
     float:left;
     height:20px;
 }



/*style2.css*/
/**
* Author: Ganapati V S(@ganapativs)
* Core CSS File
**/

.text-center {
  text-align: center;
}
.pull-right {
  float: right;
}
.truncate_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.img-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.text-muted {
  color: #bbb;
}
a {
  color: #fff;
    /*color: #428bca;*/
  text-decoration: none;
  cursor: pointer;
}
/*a:hover {
  text-decoration: underline;
}*/
body,
html {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.container {
  background: #fff;
  /*width: 360px;
  height: 640px;*/
  overflow-x: hidden;
  overflow-y: auto;
}
.container .header {
  /* height: 80px; */
  background: #e2073c;
}
.h-list .item-card.active .item:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 4px;
  background: #4a90e2;
}
.h-list .item-card .info-block {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}
.h-list .item-card .item {
  height: 65px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  position: relative;
}
.h-list .item-card .item:hover {
  background: #eee;
}
.h-list .item-card .item .close {
  color: #e2073c;
}
.h-list .item-card .item .close-large {
  color: #e2073c;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.h-list .item-card .item .left {
  padding: 15px 5px 15px 15px;
  display: inline-block;
}
.h-list .item-card .item .left img {
  max-width: 35px;
  max-height: 35px;
}
.h-list .item-card .item .right {
  padding: 15px 5px;
  line-height: 35px;
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 122px);
}
.h-list .item-card .item .right.hospital {
  color: #180942;
}
.h-list .item-card .item .info {
  font-size: 25px;
  color: #ccc;
  padding: 19px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.h-list .item-card .item .info:focus,
.h-list .item-card .item .info:hover {
  color: #aaa;
}
.h-list .item-card .visits-block {
  padding: 5px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
.h-list .item-card .visits-block h5 {
  margin: 0 0 6px 4px;
}
.h-list .item-card .visits-block .visits .visit {
  background: #fff;
  border: 1px solid #eee;
  padding: 12px 10px;
  margin-bottom: -1px;
}
.h-list .item-card .visits-block .visits .visit:focus,
.h-list .item-card .visits-block .visits .visit:hover {
  background: #f1f1f1;
  cursor: pointer;
}
.h-list .item-card .visits-block .visits .visit .close {
  color: #e2073c;
  font-size: 20px;
  margin-top: -3px;
}
.h-list .item-card .visits-block .timeline {
  display: table;
  background: #f4f4f4;
  border: 1px solid #eee;
  border-top: 0;
  margin: 1px;
  -webkit-box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  -moz-box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  -o-box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  -ms-box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  margin-bottom: -2px;
  padding: 10px 5px;
  padding-left: 0;
}
.h-list .item-card .visits-block .timeline .row {
  display: table-row;
}
.h-list .item-card .visits-block .timeline .row .left,
.h-list .item-card .visits-block .timeline .row .right {
  display: table-cell;
}
.h-list .item-card .visits-block .timeline .row .left {
  width: 60px;
  text-align: center;
  position: relative;
}
.h-list .item-card .visits-block .timeline .row .left:before {
  content: '';
  width: 2px;
  height: calc(100% - 20px);
  background: #aaa;
  position: absolute;
  left: calc(50% - 1px);
  top: 20px;
  z-index: 0;
}
.h-list .item-card .visits-block .timeline .row .left .circle {
   display: inline-block;
  background:  #d14836;
  width: 46px;
  height: 46px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  border: 1px solid  #d14836;
  position: relative;
  z-index: 1;
}
.h-list .item-card .visits-block .timeline .row .left .circle .day {
  padding-top: 6px;
}
.h-list .item-card .visits-block .timeline .row .right {
  width: 80%;
  vertical-align: top;
}
.h-list .item-card .visits-block .timeline .row .right .notification {
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  width: 100%;
}
.h-list .item-card .visits-block .timeline .row .right .notification .message {
  color: #333;
  padding: 5px;
  border-bottom: 1px solid #ddd;
width: 100%
}
.h-list .item-card .visits-block .timeline .row .right .notification .date {
  margin-top: 4px;
}
.h-list .item-card .visits-block .timeline .row .right .notification .view-more {
  cursor: pointer;
  margin: 10px;
}
.h-list .item-card .visits-block .timeline .row .right .notification .view-more:hover {
  color: #999;
}
.h-list .item-card .visits-block .timeline .row:last-child .left:after {
   content: '';
  width: 6px;
  height: 6px;
  background: #fff;
  position: absolute;
  left: calc(50% - 5px);
  bottom: 20px;
  z-index: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #d14836;
}
.h-list .item-card .visits-block .timeline .row:last-child .left:before {
  height: calc(100% - 45px);
}

.h-list .item-card .visits-block .timeline .row .right {
  width: 98%;
  vertical-align: top;
}
.h-list .item-card .visits-block .timeline .row .right .notification {
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.h-list .item-card .visits-block .timeline .row .right .notification .message {
  color: #333;
  padding: 5px;
  border-bottom: 1px solid #ddd;
   border-width:thick;
}
/*doctortab*/
.card .item .pull-left{
color:#D14836;
}
.card .item .pull-right{
color:grey;
}

.list .card{
  background-color: #f9f9f9;
}

// Added for patientimages.html starts
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 40%;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: transparent !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.slider {
    width: 100%;
    height: 100%;
}
// Added for patientimages.html ends
.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}
.errorCls{
    color:#FF0000;
    background-color:#fff;
}
