/**
* Author: Ganapati V S(@ganapativs)
* Core CSS File
**/
.text-center {
  text-align: center;
}
.pull-right {
  float: right;
}
.truncate_text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.img-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.text-muted {
  color: #bbb;
}
a {
  color: #fff;
    /*color: #428bca;*/
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
body,
html {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.container {
  background: #fff;
  /*width: 360px;
  height: 640px;*/
  overflow-x: hidden;
  overflow-y: auto;
}
.container .header {
  /* height: 80px; */
  background: #e2073c;
}
.h-list .item-card.active .item:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 4px;
  background: #4a90e2;
}
.h-list .item-card .info-block {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}
.h-list .item-card .item {
  height: 65px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  position: relative;
}
.h-list .item-card .item:hover {
  background: #eee;
}
.h-list .item-card .item .close {
  color: #e2073c;
}
.h-list .item-card .item .close-large {
  color: #e2073c;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.h-list .item-card .item .left {
  padding: 15px 5px 15px 15px;
  display: inline-block;
}
.h-list .item-card .item .left img {
  max-width: 35px;
  max-height: 35px;
}
.h-list .item-card .item .right {
  padding: 15px 5px;
  line-height: 35px;
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 122px);
}
.h-list .item-card .item .right.hospital {
  color: #180942;
}
.h-list .item-card .item .info {
  font-size: 25px;
  color: #ccc;
  padding: 19px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.h-list .item-card .item .info:focus,
.h-list .item-card .item .info:hover {
  color: #aaa;
}
.h-list .item-card .visits-block {
  padding: 5px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
.h-list .item-card .visits-block h5 {
  margin: 0 0 6px 4px;
}
.h-list .item-card .visits-block .visits .visit {
  background: #fff;
  border: 1px solid #eee;
  padding: 12px 10px;
  margin-bottom: -1px;
}
.h-list .item-card .visits-block .visits .visit:focus,
.h-list .item-card .visits-block .visits .visit:hover {
  background: #f1f1f1;
  cursor: pointer;
}
.h-list .item-card .visits-block .visits .visit .close {
  color: #e2073c;
  font-size: 20px;
  margin-top: -3px;
}
.h-list .item-card .visits-block .timeline {
  display: table;
  background: #f4f4f4;
  border: 1px solid #eee;
  border-top: 0;
  margin: 1px;
  -webkit-box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  -moz-box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  -o-box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  -ms-box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  box-shadow: inset 0 1px 1px #eee, inset 0 -1px 2px #ddd;
  margin-bottom: -2px;
  padding: 10px 5px;
  padding-left: 0;
}
.h-list .item-card .visits-block .timeline .row {
  display: table-row;
}
.h-list .item-card .visits-block .timeline .row .left,
.h-list .item-card .visits-block .timeline .row .right {
  display: table-cell;
}
.h-list .item-card .visits-block .timeline .row .left {
  width: 60px;
  text-align: center;
  position: relative;
}
.h-list .item-card .visits-block .timeline .row .left:before {
  content: '';
  width: 2px;
  height: calc(100% - 20px);
  background: #aaa;
  position: absolute;
  left: calc(50% - 1px);
  top: 20px;
  z-index: 0;
}
.h-list .item-card .visits-block .timeline .row .left .circle {
   display: inline-block;
  background:  #d14836;
  width: 46px;
  height: 46px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  border: 1px solid  #d14836;
  position: relative;
  z-index: 1;
}
.h-list .item-card .visits-block .timeline .row .left .circle .day {
  padding-top: 6px;
}
.h-list .item-card .visits-block .timeline .row .right {
  width: 80%;
  vertical-align: top;
}
.h-list .item-card .visits-block .timeline .row .right .notification {
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.h-list .item-card .visits-block .timeline .row .right .notification .message {
  color: #333;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.h-list .item-card .visits-block .timeline .row .right .notification .date {
  margin-top: 4px;
}
.h-list .item-card .visits-block .timeline .row .right .notification .view-more {
  cursor: pointer;
  margin: 10px;
}
.h-list .item-card .visits-block .timeline .row .right .notification .view-more:hover {
  color: #999;
}
.h-list .item-card .visits-block .timeline .row:last-child .left:after {
   content: '';
  width: 6px;
  height: 6px;
  background: #fff;
  position: absolute;
  left: calc(50% - 5px);
  bottom: 20px;
  z-index: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #d14836;
}
.h-list .item-card .visits-block .timeline .row:last-child .left:before {
  height: calc(100% - 45px);
}


.h-list .item-card .visits-block .timeline .row .right {
  width: 98%;
  vertical-align: top;
}
.h-list .item-card .visits-block .timeline .row .right .notification {
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.h-list .item-card .visits-block .timeline .row .right .notification .message {
  color: #333;
  padding: 5px;
  border-bottom: 1px solid #ddd;
   border-width:thick;
}
